[2015-03-07 22:53] andrewshawcare opened #1 "Odd use of globals"
It's slightly odd to see global scope injected scope for `params` and `rtn` variables. In my opinion, it would be more readable to see global variables removed and possibly separate the notions of hamster creation and task execution, like so:

[code]

[2015-03-09 04:56] #1 closed

[2015-03-16 17:30] austinksmith opened #2 "IE10 Cross Origin Resource Sharing Security Error using Data Blob"
Issue identified preventing IE10 operation due to cross origin resource sharing restrictions, workaround in progress. This issue does not affect IE11.

[2015-03-31 22:43] austinksmith commented on #2
This is resolved as of 1.5 by using the main thread for execution, no practical solution was found to deal with the security issues introduced by Microsoft.

[2015-03-31 22:43] #2 closed

[2016-01-14 21:44] austinksmith opened #4 "Memoization could be faster / more verbose"
Issue: Current hashing algorithm is slow, session storage 5mb limit introduces performance drawbacks.
Possible Solution: Use in memory caching, possibly optimize hash function

[2016-01-14 21:48] austinksmith opened #5 "Try catch needed for legacy typed array support preventing some JIT optimizations"
Issue: Try catch causes functions containing them not to be optimized by the runtime
Possible Solution: Move try catch outside of execution logic precompute variable to determine support before hand

[2016-03-15 14:47] austinksmith opened #6 "Use dev branch version!!"
A bug was discovered in transferrable object support in the most recent released version, the development branch resolves this issue but is not complete in regards to memoization yet. A new release will be out shortly that resolves all remaining discovered bugs.

[2016-04-02 15:38] hy9be opened #7 "Any explanation for the little performance gain?"
I was trying to see how much performance gain I should expect from multi-thread my task. So I tried the test on the [official site](http://www.hamsters.io/performance/#). But surprisingly, the result indicated that there was very little performance gain even on the 25.6 million cases.

I am aware of the Amdahls Law and Gustafson Law, but still cannot figure out a reasonable explanation. Anyone hav

[2016-04-11 18:36] austinksmith commented on #7
Hey there, sorry i didn't see your issue request until now. What browser are you testing with?

[2016-04-13 14:26] hy9be commented on #7
Thanks for the information @austinksmith !

I am on Chrome 49, the machine is a 2013 Macbook pro, with
- Processor: 2.7 GHz Intel Core i7
- Memory: 16 GB 1600 MHz DDR3

Given that the navigator.hardwareConcurrency is supported and the hardware is sufficient to leverage web worker. Do you mean the case on the official site is actually not the best case to show the performance improvements? Or these

[2016-04-13 14:46] austinksmith commented on #7
If you wanted to present your use case I can write out the function that will make it run at its peak, the last few releases have been focused on adding features and fixing bugs and performance optimizations have fallen a bit to the back burner while I work on getting all the kinks ironed out again. The use case on the example site is a very simplistic test that doesn't represent a real world exam

[2016-04-13 15:57] hy9be commented on #7
Get it. I will go ahead to use the library in our own case and see whether the performance improvement is more significant. And I will also see how it goes with older Chrome / older version of the library.

Thanks!

[2016-04-21 10:04] maharshioza opened #8 "Node compatibility"
Issue: Library is not supporting as a Node module.

Its working only for html file.
I request to make one standard **file/library for nodejs users**.

[2016-04-25 18:33] austinksmith commented on #8
Unfortunately this will be quite the under taking and something that makes it more problematic is node doesn't ship with a unified web worker implementation out of the box. The library was designed to be pretty environment agnostic and should in theory function fine within node if you wanted to port it into a node export style library and submit a pull request that would be great. Unfortunately I

[2016-06-14 07:58] renxin111 opened #9 "http://www.hamsters.io/ can't be opened?"
I can't open www.hamsters.io/. Is it ok now?

[2016-06-15 20:59] austinksmith commented on #9
I appologize for that, I was having some network issues with my isp and the site is back up and running now. You can also access the site through https://hamsters.io

[2016-06-15 21:00] austinksmith commented on #9
I will be making a more proper website with better guides and regular announcements here shortly, life has been a little hectic.

[2016-06-15 21:00] #9 closed

[2016-06-15 21:01] austinksmith commented on #8
Try the latest dev branch version, if the regular version doesn't work attempt to use the new react-native supported library file.

[2016-06-15 21:03] austinksmith commented on #7
Be sure to checkout the latest dev branch version, turns out performance was being hampered because there was a bug in the memoization features that was causing indexedDB to be called after each function even if you had caching disabled in the library. The perf example was updated really early this morning to reflect those changes and the performance gains are back. Sorry for the bug.

[2016-06-18 20:40] hy9be commented on #7
Good to know. Thanks a lot! @austinksmith

[2016-06-20 12:52] austinksmith commented on #7
Just updated dev again today, make sure to use the non minified version for now

[2016-07-26 21:57] austinksmith commented on #7
Closing this issue, turns out the performance example I wrote on the website was somewhat inaccurate and was measuring the time it took to execute the dom updates as well. It has been updated to eliminate the issue as best as possible and performance gains are much more apparent now, even in safari which previously only lost performance. Please make a new issue request if you have any more concern

[2016-07-26 21:57] #7 closed

[2016-07-26 21:57] austinksmith commented on #4
Leaving memorization to session storage solution, may revisit in the future but is not a priority at the moment.

[2016-07-26 21:57] #4 closed

[2016-07-26 21:58] austinksmith commented on #5
Resolved

[2016-07-26 21:58] #5 closed

[2016-07-26 21:58] austinksmith commented on #8
Closing this issue, please make a new request if you are still encountering problems. Thanks.

[2016-07-26 21:58] #8 closed

[2016-07-27 11:49] acterhd opened #10 "SharedArrayBuffer and Atomics support"
Hello. Have you support for these features? Supports in chrome (canary, with flags) and firefox.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/SharedArrayBuffer
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Atomics

[2016-07-27 12:18] acterhd opened #11 "Perf test show hamster slower than main thread"
It's fail?
http://www.hamsters.io/performance/

PC, Windows 10, Intel i5 6600k. Tested in chrome and nightly (firefox).

[2016-07-27 19:08] rodryquintero opened #12 "update npm for latest release"
You can only install version 3.7 from NPM.

[2016-08-09 20:14] austinksmith commented on #10
I don't have support for them just yet but this is definitely something that I'm interested in adding support for, if you think you can understand the code structure enough don't be afraid to submit a pr. I apologize for the late response the last two weeks have been extremely busy.

[2016-08-09 20:15] austinksmith commented on #11
Could you provide some screen shots please, how many times did you run the benchmark and what array size did you choose?

[2016-08-09 20:15] austinksmith commented on #12
I apologize, there hasn't been a new official release in a little while as I've been busy with other projects. I'd recommend cloning the dev branch and using that as it has the latest changes. In the next release I will update the npm version as well.

[2016-08-09 20:18] austinksmith commented on #12
I apologize for the late response the last two weeks have been extremely busy.

[2016-08-09 20:32] austinksmith commented on #11
Please read my explanation for this issue here, https://github.com/austinksmith/Hamsters.js/issues/7

As an example, this is a test case of 400k. On my test machine (Windows 7, i7-3610qm, running chrome) you can see a throughput increase of roughly 63%~ using multiple threads. Something that's hard to do is really maximize the time you spend in a thread, basically what I'm telling you is the provi

[2016-08-09 20:42] austinksmith commented on #10
A little bit of guidance on how I'd approach this, first check to see if SharedArrayBuffer support exist, if it does then instead of splitting the array and creating individual arraybuffers, simply create a single sharedarraybuffer and pass a reference to each thread for their "subarray" and simply fetch the subarray from memory, create a new ArrayBuffer inside the thread and use the data there. T

[2016-08-10 05:17] acterhd commented on #11
Early main thread been faster, but now I see that slower than multi thread.

[2016-08-10 05:19] acterhd commented on #11
![capture](https://cloud.githubusercontent.com/assets/17273637/17542637/14682204-5efd-11e6-88c9-718273c5f91c.PNG)

[2016-08-10 12:50] austinksmith commented on #11
So it looks like the test size you are choosing is too small, I recommend you read about these laws regarding parallel computing. There is a point of diminishing returns where the overhead of splitting the data, communicating with the threads, and aggregating the data back together is greater than the benefit you will see. Since the provided benchmark is very simple it's not an ideal case especial

[2016-08-10 13:05] acterhd commented on #11
I think about kernel principle. For example. Sad that is no possible for GPU at now. :'(

[code]

[2016-08-10 20:01] austinksmith commented on #11
I think you meant to post this in response to the other issue request, however there is no reason to rewrite how the system works entirely. Keep in mind the idea is to maintain browser support for IE9+ so this would be a simple feature addition. The shared array buffer would require a range be sent to each thread which would be calculated in the split array function, so thread 1 would get 0-24, th

[2016-08-13 14:13] austinksmith commented on #11
Also in regards to GPUs, I have plans to use compute shaders from webGL to do arbitrary logic in the future, I just simply haven't had the time to learn them well enough to make use of them.

[2016-08-14 13:03] acterhd commented on #11
I have own tests, experiments with multithreading. My rock.js and multithreading very fast. But is not faster than native JS. i.e. typed arrays in my multithreading slower in 5x than simple number. Slower because I creating typed arrays every time. I think about restoring class-based typed arrays, instead of real typed arrays, because real typed arrays with some functional wrapping (even in protot

[2016-08-14 19:46] acterhd commented on #11
I'm in their beliefs was a bit wrong. First Chrome does not support SIMD (or SSE, or AVX) like this, and that's a fact. Mozilla Firefox browser and does not know how to properly handle the classes (slow). This is evident from my research in multi-threading performance. Even the chrome is not very draws with typed (on the idea of speed should be higher). And with SIMD wrapper class too, though slow

[2016-08-15 12:55] austinksmith commented on #11
I'm not sure I understand what issue ticket you're trying to respond to, please see the above comment for an explanation on the reasons why parallelism especially within javascript and using the very simple provided test case can be a bit unpredictable. As a general rule of thumb however you can expect throughput increases in Chrome and Safari and Firefox, also don't discount the provided benefit

[2016-08-19 14:28] #12 closed

[2016-08-19 14:28] #11 closed

[2016-10-20 05:59] linusnorton commented on #6
Any update on that new version?

[2016-10-26 16:52] Sushil-Dhiver opened #13 "Can this be used to modify DOM"
I have a page where I have 4 canvases displaying images and I currently use javascript timers to loop through images in a set and draw those images on the canvas. but the problem I have is that my timers are synchronous because Javascript is single threaded. so for my 4 canvases, my first canvas animates and then the second and so on. they're not animating concurrently.

I saw the examples for Ham

[2016-10-26 22:41] austinksmith commented on #13
Could you provide a basic code example of your problem? That will help me understand the question better, in general this is useful for computational work only. If you have logic that needs to for example do some multiplication, string manipulation, encryption is the main use case.

On a more technical level, the library can't really help do much with the dom itself as threads are sandboxed enviro

[2016-10-30 02:19] eddiendi opened #14 "Hamsters.js Doesn't Work In A Loop With Multiple Threads?"
In a loop Hamsters seems to take a vector/array and split it across the threads available but does not aggregate the results to one final output - the output is per thread ONLY. For instance, if you multiply an array like [1,2,3,4,5] with the scalar 2, the array is split into two threads (assuming a duo-core machine) with data [1,2, 3] and [4,5] respectively, which ends up with two separate arrays

[2016-11-08 18:47] austinksmith commented on #14
In order to begin debugging this you need to remove your vanilla output from your hamsters output entirely, these should be logically separate test cases entirely.

[2016-11-08 22:12] austinksmith commented on #14
To address your first question, I'm not entirely sure what your goal is in regards to aggregation as you're using the library incorrectly in several places. Issue number one is your logic inside the thread does *NOT* match the logic for your vanilla output. So your expectation to get the same results is well..unrealistic. Issue number two is that you are replacing rtn.data with your dotprod array

[2016-11-08 22:13] austinksmith commented on #14
Additionally you shouldn't be using `hamsters.maxThreads` unless you know 100% that your data set is large enough to be divisible by the maximum number of threads or the default maximum of 4. That will result in errors and you should always limit the amount of threads you are running across to the best case for your dataset.

[2016-11-08 22:23] austinksmith commented on #14
Finally you shouldn't be looping through your array of subarrays and expecting the library to aggregate your subarrays this way. The library expects a single array ie.`[1,2,3,4,5,1,2,3,4,5]`when you define multiple threads the library is expecting to have an array to split. Which would result in your current version of `var matrix`. You need to rethink how you approach this problem as you're not u

[2016-11-08 23:14] austinksmith commented on #6
@linusnorton Check out https://github.com/austinksmith/Hamsters.js/releases/tag/v3.9.0

[2016-11-08 23:14] #6 closed

[2016-11-11 15:15] MichaReiser opened #15 "Provide NPM Package"
Would it be possible to publish the library to npm?

[2016-11-11 16:40] MichaReiser opened #16 "hamsters.run does not work with not typed arrays"
Hamsters.run always tries to convert a given array to a typed array... even if it is not!. The problem is, that Hamsters.run assigns dataType = "na" if no data type has been given.

However, feedHamster uses transferables when dataType is truthy (what now always is the case).

[2016-11-18 21:41] austinksmith commented on #16
Thanks I went ahead and resolved this in dev branch, I'm pushing a hotfix release for this today and will comment with that link here in a few minutes.

[2016-11-18 21:49] austinksmith commented on #16
Thanks @MichaReiser this is now resolved in this release https://github.com/austinksmith/Hamsters.js/releases/tag/v3.9.1

[2016-11-18 21:49] #16 closed

[2016-11-18 21:49] austinksmith commented on #14
Closing this now, thanks @eddiendi

[2016-11-18 21:49] #14 closed

[2016-11-18 21:49] austinksmith commented on #13
Closing this now, thanks @Sushil-Dhiver

[2016-11-18 21:49] #13 closed

[2016-11-18 21:50] austinksmith commented on #15
The library is actually on npm it's just not updated with the latest version, I'll have to do that sometime here soon but I've been in the middle of moving and started a new gig so I haven't had time to focus on that lately

[2016-11-18 21:50] austinksmith commented on #10
Closing, thanks @acterhd

[2016-11-18 21:50] #10 closed

[2016-11-21 21:39] nathansmyth commented on #15
+1 when you get the time.

Thank you so much for making this library. I really appreciate it!

[2016-11-26 23:48] austinksmith commented on #15
Try this https://www.npmjs.com/package/hamsters.js let me know if you have any trouble. The old version was published under https://www.npmjs.com/package/webhamsters

[2016-11-27 01:00] austinksmith commented on #15
I went ahead and published v3.9.6 as a new release that includes all the changes, NPM has been updated with this version as well and is working under their runkit link, seriously if there are any problems using it within Node let me know I don't do much node work and so I haven't really gone out of my way to officially test and support it. https://runkit.com/npm/hamsters.js

[2016-11-29 16:30] austinksmith commented on #15
Closing this as it's resolved now.

[2016-11-29 16:30] #15 closed

[2016-12-27 13:59] renxin111 opened #19 "How do i use hamster.js to calculate fibonacci?What's wrong with my code?"
function test(){
  var params = {'array':[0,1,2,3,4,5,6,7,8,9]};
  hamsters.run(params, function() {
      for(var i = 2;i<params.array.length;i++)
	{
	     params.array[i]= params.array[i-1]+params.array[i-2];
	     rtn.data.push(params.array[i]);
	}
  }, function(output) {
    console.log(output)
    return output;
  }, 4 , true);
}

[2016-12-30 19:53] austinksmith commented on #19
Unfortunately this isn't the appropriate place to post a question like this, you should start with a function that doesn't use the library first and once you've verified that is working then try to port it to make use of `Hamsters.js` after reading the readme, thanks.

[2016-12-30 19:53] #19 closed

[2016-12-31 17:34] austinksmith commented on #19
If you already have a working example feel free to share it and I'll try to guide you on the right path, I apologize I just don't have the bandwidth to provide support this way unless there is something wrong with the library functionality that needs addressed. In the library specs there is an example that computes the Fibonacci sequence though it's not a perfect example by any means it should giv

[2017-01-26 11:49] flaviotobi opened #20 "[React-Native] Can't find variable: Worker"
When i try to import, it gives this error:

![screen shot 2017-01-26 at 11 47 21](https://cloud.githubusercontent.com/assets/13239857/22330245/390f8f62-e3bd-11e6-8c84-754fb8d0a882.png)

React-native: v0.31.0
hamster: v3.9.6

[2017-01-26 15:55] acterhd opened #21 "Visual Studio Bower package manager - cannot found package "Hamsters""
Hello. I trying search package "Hamsters", "WebHamsters", but Visual Studio 2015 (JavaScript Project, Bower packages, all right) can not found this library. Try to fix this issue. Also, can not found in preview versions.

[2017-02-07 14:16] cozzbie opened #22 "Documentation working example"
Do you have some sort working example for this? I really do not understand the origin of your "rtn" variable and how outputs are passed back to the main thread.

[2017-02-07 18:27] austinksmith commented on #22
The documentation should have working example logic, what is the issue you're encountering? You can see a working demo @ https://hamsters.io/performance

[2017-02-07 18:30] austinksmith commented on #20
It looks like you're using the IOS version for react native, currently the library has not been developed to work 100% with IOS because of the way IOS handles assigning data to the global scope. In Android this is accomplished by assigning Worker to the global variable which react native uses, unfortunately IOS implements a security check that prevents Worker from being assigned. I haven't had the

[2017-02-07 18:31] austinksmith commented on #21
I removed the bower version for webhamsters recently and I think replaced it with a hamstersjs one, the bower file might be out of date, I remember bower giving me trouble trying to update that. I'll have to get some free time again to resolve the issue.

[2017-02-07 19:01] cozzbie commented on #22
In the examples in the readme theres the passing of values to "rtn". Where is that declared? Hos is that accessed? @austinksmith

[2017-02-07 19:29] austinksmith commented on #22
RTN is an internal variable, you can pass data into the RTN.data array, think of it like "Return data", it's not something you need to explicitly declare yourself. Simply push your output to rtn.data eg. `rtn.data.push(result);`

[2017-02-07 19:30] cozzbie commented on #22
Sigh. I guess thats the issue then. I am using this with typescript and getting all kinds of errors. DANG!!! @austinksmith

[2017-02-08 08:32] cozzbie commented on #22
So I am trying to run a keypair algo `let pair = keypair()` using this because the process is very memory tasking but I am having some issue passing or accessing the data into hammers scope. On the one hand when I do try to pass the value via the hammer params, it throws a cannot clone object error and I cannot access the value from the scope and understandably so...contexts are different. So what

[2017-02-08 11:12] flaviotobi commented on #20
Thanks for the answer :)
i'm looking for a quick fix for my problem, if in the mean time i can't find a quick fix i will turn  to a long term fix, and then i will take a look at this  :)

[2017-02-08 11:12] #20 closed

[2017-02-08 15:54] cozzbie commented on #22
`hamsters.run([keypair], //from the keypair lib import
                function () {
                    console.log(this.params[0]);
                    this.rtn.data.push(this.params[0]());
                },
                function (out) {
                    let pair = out[0][0];
                    console.log("Hammy out", pair);
                }, 1, false);`

![screen shot 2017-02-08 at 4

[2017-02-08 20:03] cozzbie commented on #22
Me again. How can we include external npm libraries in the execution scope?

[2017-02-09 00:27] austinksmith commented on #22
@cozzbie I'm not sure what you're trying to accomplish here?

Take a look at the documentation, you're not passing your parameters right at all. Your params need to be an object and your object needs to contain your array of data.

eg. `params = {'array': [keypair]}`

<img width="932" alt="screen shot 2017-02-08 at 7 25 38 pm" src="https://cloud.githubusercontent.com/assets/2227747/22763715/6d2110

[2017-02-09 00:32] austinksmith commented on #22
I'm not entirely sure what you mean by include external npm libraries, you would have to manually edit your version of the library and edit the logic that defines what exists inside a worker, you can then make the worker logic `import foo;`, that's handled on line 425, add your import before the `self.processDataType = function(dataType, buffer) {` line and your worker will have the import just li

[2017-02-09 11:56] cozzbie commented on #22
Okidoks...thanks alot.

[2017-02-16 15:03] austinksmith commented on #22
Closing this as I think it's resolved, thanks @cozzbie

[2017-02-16 15:03] #22 closed

[2017-02-16 15:08] austinksmith commented on #21
Sorry for the late response, try running `bower info hamsters.js` I went ahead and published the latest version to bower, the old package was under `webhamsters` so you might have to run that.

Marking this as resolved, thanks @acterhd

[2017-02-16 15:08] #21 closed

[2017-02-18 16:18] csterritt opened #23 "Getting a failure under node"
Hello,

Trying the fourth test function under node.

However, I'm compiling from ES6, so I've switched the `function`s to arrow functions:

[code]

This fails with the following error:

[code]

This is using node v4.3.2 (for compatibility reasons).

Any clues?  Thanks!

[2017-02-19 14:59] austinksmith commented on #23
Interesting, I'll have to take a look at it here soon. The issue appears to be that Node doesn't like using `self` as a shortcut to the global scope, typically `self.blah` would be the same as `global.blah` or `window.blah` so node is doing something weird.

I'd suggest trying to use a 3rd party web worker implementation as well, something like this might help you get started before I can address

[2017-02-19 16:36] csterritt commented on #23
Hey Austin!  Thanks for looking at this... I'm not in a particular hurry
right now, so I'll be interested to see what you find.

On Sun, Feb 19, 2017 at 9:59 AM, Austin Smith <notifications@github.com>
wrote:

[2017-02-19 17:01] austinksmith commented on #23
@csterritt Try using the latest from dev branch now, just pushed this commit which should fix the issue. I haven't tested it yet but it looks like it'll work.

https://github.com/austinksmith/Hamsters.js/commit/17b18ab6005ee766a6735fa75ee35474c91a516c

[2017-02-23 20:24] austinksmith commented on #23
@csterritt Please let me know if that resolved your issue if you get the chance, thanks

[2017-02-24 14:05] csterritt commented on #23
Hi Austin,

Will do - it may be a week or so, I'm traveling now.

  -- chris

[2017-02-26 19:05] austinksmith commented on #23
@csterritt No problem, I'm going to go ahead and close this issue out. I went ahead and published v3.9.8 which includes this fix. If you have anymore issues feel free to open another ticket, thanks!

https://github.com/austinksmith/Hamsters.js/releases/tag/v3.9.8

[2017-03-01 15:52] SacrilegeTx opened #24 "Help processing data"
Hello, I need some help with my code.

Problem:
I adapted the code to the library's form and when I run it the problem is the conditional run first and then the threads. The correct way is when threads is finished pass the next code line which what is the conditional.

[See the code in Pastebin website](http://pastebin.com/NZi8yGmr)
[Click here to view the Image](http://imgur.com/a/3ufDn)

Am I do

[2017-03-01 22:02] csterritt commented on #23
Sorry to be 'that guy', but I'm getting a new problem with v3.9.8.  It fails the same way under node v4.3.2 and v7.7.0:

[code]

[2017-03-02 13:45] austinksmith commented on #23
No problem, that's why I asked you to follow up haha. So it looks like I mixed up the order during the environment setup so currently the v3.9.8 will only work with a 3rd party web worker implementation (which is what you'll want for real threading). I'll push a fix today that will restore the legacy fallback mode which will allow you to write your logic and take advantage of the async nature of t

[2017-03-02 14:12] austinksmith commented on #23
As promised, this should resolve your issues. Runkit on npm hasn't updated yet but i think this will work.

https://github.com/austinksmith/Hamsters.js/releases/tag/v3.9.9

[2017-03-03 03:25] austinksmith commented on #24
Sorry I can't provide any assistance without this being in a reproducible environment. Can you add it to https://jsfiddle.net/

[2017-03-03 15:39] elviraux opened #25 "Is there any way to pass a function to be executed inside hamster.run?"
Something kind of this https://jsfiddle.net/m82v751c/3/

[2017-03-03 22:08] csterritt commented on #23
Alas:

[code]

Also, which 3rd party web worker implementation do you recommend?

[2017-03-04 15:16] austinksmith commented on #25
Yes its actually really easy just not immediately obvious, you'll want to do something like this.

´´´
var params = {
  array: [],
  func: "body of function as a string"
};
hamsters.run(params, function(){
 var function = new Function(params.func);
 .....
 ......
});
´´´

You'll want to make sure your params function is only the inside of your function you should not need to include "function {do

[2017-03-04 15:16] austinksmith commented on #25
I responded on mobile so the formatting might be messed up but that should work for you.

[2017-03-07 01:02] austinksmith commented on #25
I'm closing this issue, thanks @elviraux

[2017-03-07 01:02] #25 closed

[2017-03-07 01:17] austinksmith commented on #23
Hmm, so I actually published version 4.0 which resolves the issue you're talking about already. I see on the npmjs.com page that it shows version 4.0 is what you should see. This however looks like version 3.9.9.

[2017-03-07 01:23] austinksmith commented on #23
I put in a support ticket with them to get the website to update the package, sorry about that. Regarding web worker implementations, this one looks fairly good. I will warn however that their example documentation isn't what you probably want here. You'll probably need to do something like this.
[code]

https://www.npmjs.com/package/webworker-threads

[2017-03-07 01:56] austinksmith commented on #24
So I'm going to close this issue out as I think you might have resolved your issue. Asynchronous code is sometimes (usually) hard to deal with, especially multi-threaded asynchronous code. I believe what you are saying is that you expect this function to be processed last.

[code]

You should probably just wrap this in a function and then call your function at the end of your callback.

[code]

An

[2017-03-07 01:56] #24 closed

[2017-03-07 23:13] csterritt commented on #23
Hey Austin - glad to report that 4.0 works fine!  I haven't gotten it working with webworker-thread yet, but I'm sure that will come.

Thanks again for your help!

[2017-03-07 23:13] #23 closed

[2017-04-07 16:32] austinksmith commented on #25
@elviraux I should mention the library already makes use of a `params.func` inside of a thread so in the event you want to pass a custom function you really don't need to manually specify `new Function(params.func)` as the library is already going to do that for you granted you're using the traditional `hamsters.run` and not the `hamsters.tools.loop` in which case you'd want to use a different nam

[2017-05-01 06:04] Zodiase opened #27 "`Worker is not defined` in Node v6"
I'm trying to run the example code as such:

[code]

but got error:

[code]

[2017-05-01 06:33] Zodiase commented on #27
FYI, using `hamsters.js@4.0.0` is fine, while `4.1.0` throws the error.

[2017-05-01 06:49] Zodiase opened #28 "Help me understand how to use this."
Using `hamsters.js@4.0.0`, I was able to run the example code. However I don't think it's making any sense to me. Also since I'm not seeing the result I'm expecting, I don't think this library is working properly.

Suppose running this code:

[code]

I was expecting the workload to be distributed among these 10 threads. But after some console logging, I see they are getting the exact same array an

[2017-05-01 13:54] austinksmith commented on #27
Please take a look at https://github.com/austinksmith/Hamsters.js/issues/23 , Node.js does not ship with a native web worker implementation which is why you are seeing the `Worker is not defined` error. The library *should* be working in legacy fall back mode assuming you haven't modified the package.json to point to the es6 version in which case you won't see the performance benefits you're looki

[2017-05-01 14:06] austinksmith commented on #28
Testing in my console shows that using `v4.1.0` that the result of your supplied function

[code]

Is exactly what it should be which is an array containing 10 subarrays as your final output, since you have not asked the library to aggregate your results back together. If you want to have a single output you need to change your logic to

[code]

As far as

This isn't the case, your array assuming

[2017-05-01 16:10] Zodiase commented on #28
Sorry maybe I didn't make it clear in my first statement. By "some logging" I meant more `console.log`s than I showed in the code, I removed all of them to make the code simpler and closer to the original example code in readme. It would look more like this in my testing:

[code]

I saw `"params"` in the logs 10 times, each with identical content, and `"run"` 100 times, which is exactly the size o

[2017-05-01 16:23] Zodiase commented on #28
As of the log from the output function, for me that was:

[code]

while I was expecting something like:

[code]

[2017-05-01 16:33] Zodiase commented on #27
I for some reason was under the impression that for node this library would not be using Worker but something else like `child_process` for example. I guess I drank too much coffee at night...

Since I don't see Web Worker coming to node any time soon, it should be very beneficial to state this piece of dependency more clearly in the documentation. Pointing to a preferred Worker implementation in

[2017-05-01 16:58] austinksmith commented on #28
You need to provide your entire example source for me to understand why you are seeing different behavior from both the provided benchmark example logic and jasmine tests.

[code]
Using `4.0.0` functions exactly as it should and my final output is in fact how it should be which is a single array that looks like `[0, 12, 24, 36, 48, 60, 72, 84, 108]`

As mentioned before, you are not telling your o

[2017-05-01 17:05] austinksmith commented on #27
The library does not make use of `child_processes` since those are not relevant to many places the library is executed, I didn't feel as the project maintainer it would be necessary to explain Node.js and what it does & does not support out of the box as anyone using Node.js should already have an understanding of what it comes with. That being said the library definitely **does** function within

[2017-05-01 17:57] Zodiase commented on #28
I'm aware of that and I didn't expect the result to be aggregated. What I was saying was the result contains redundant data that apparently is produced by redundant work.

I'll use the aggregation flag, hopefully it's easier for you to see what I mean.

![image](https://cloud.githubusercontent.com/assets/1815174/25588246/237af934-2e6d-11e7-9800-6e50ba0dc2d8.png)

I'm printing the amount of data ea

[2017-05-01 18:35] austinksmith commented on #28
So I've managed to reproduce this issue only under the following conditions

1. The library is making use of legacy mode which means making use of the main thread.
2. The function invoked is using more than 1 thread
3. The function invoked is using a non typed array, using a typed array does not suffer the same issue.

My debugging so far leads me to believe this is an inheritance issue and a race

[2017-05-01 19:13] Zodiase commented on #28
I'm absolutely glad to help. I was looking for easy-to-use node parallelism solutions and came across this library and I think it is very promising.

By the way, could you comment on my side note there? I'd assume there's some limitation that I'm not aware of forcing you to design the API this way but wouldn't it easier for people to understand to have the thread function signature like this:

[co

[2017-05-01 20:34] austinksmith commented on #27
I've gone ahead and pushed out v4.1.1, please update to v4.1.1 and your issues should be resolved.

https://github.com/austinksmith/Hamsters.js/releases/tag/v4.1.1

[2017-05-01 20:35] austinksmith commented on #28
I've gone ahead and pushed out v4.1.1, please update to v4.1.1 and your issues should be resolved.

https://github.com/austinksmith/Hamsters.js/releases/tag/v4.1.1

It's unfortunately not possible to do it that way unless they added that functionality as a first class part of the language.

[2017-05-01 20:35] #28 closed

[2017-05-01 20:42] Zodiase commented on #27
Same as `csterritt` said here, I'm not able to get `hamsters.js@4.1.0` working with or without `webworker-threads` in node.

There's an issue blocking installing `webworker-threads` in node `v7.7.0` so I'm using node `v6.10.2`.

with these modules:

[code]

## Case 1

Without using `webworker-threads`, it obviously complains about Worker not defined.
![image](https://cloud.githubusercontent.com/as

[2017-05-01 21:56] austinksmith commented on #27
Please create a new ticket for the new issue you're encountering, v4.1.1 solves the problem related to this ticket.

[2017-05-03 00:28] austinksmith commented on #27
Reopening this, I mixed it up with the other one you had open.

[2017-05-03 00:31] austinksmith commented on #27
I'm implementing a fix that will be released in 4.1.2 which will allow this to work with any 3rd party implementation, the solution i had previously isn't working currently. If you use 4.1.1 for now you will be able to write your logic and have it in place for when 4.1.2 drops.

[2017-05-18 06:18] rsmithsa opened #29 "navigator.hardwareConcurrency is undefined"
On my machine, when running (v4.1.1) in Edge "navigator.hardwareConcurrency" is undefined but "navigator" is defined.

During init if I don't explicitly specify "maxThreads" hamsters crashes.

I.e. We get in here and maxThreads is set to undefined:
[code]

There should probably be an additional test, something like this:
[code]

[2017-05-18 13:15] austinksmith commented on #29
Thanks for submitting this, I'm in the process of completely rewriting the library for the next release to make it more compatible and extensible in node etc. Can you tell me what version of Edge you're running? According to this Edge 15+ should support `navigator.hardwareConcurrency` unless they removed support for it.

https://github.com/MicrosoftEdge/Status/issues/99

[2017-05-18 13:19] austinksmith commented on #29
According to Microsofts developer page they show Edge supporting this feature so it seems inconsistent on their page and the build shown in the link below was just released in December and I know I've used it in Edge since before then so maybe this is both a lack of being careful enough on my part and Microsoft adding/dropping support randomly?

https://developer.microsoft.com/en-us/microsoft-edge

[2017-05-18 14:13] artem-vladimirov commented on #29
@austinksmith sorry, I didn't found if the lib allow the access to DOM in threads?

[2017-05-18 14:14] rsmithsa commented on #29
I'm running: "Microsoft Edge 38.14393.1066.0" It might be random from Microsoft's side or it might be specific to my particular hardware?

[2017-05-18 14:23] austinksmith commented on #29
@artem-vladimirov Please make a new ticket for issues not related to this one, thanks.

[2017-05-18 14:23] austinksmith commented on #29
It shouldn't have anything to do with your hardware but just for sanity sake what is your hardware setup and are you running windows 10?

[2017-05-18 14:31] rsmithsa commented on #29
Windows 10 Pro, Mecer Laptop,  i7 4712MQ, 24gb ram

[2017-05-18 17:46] austinksmith commented on #29
Alright, please give this release a try and let me know if you encounter any other issues.

https://github.com/austinksmith/Hamsters.js/releases/tag/v4.1.2

[2017-05-18 17:47] austinksmith commented on #27
@Zodiase take a look at this release please and let me know if you encounter more issues.

https://github.com/austinksmith/Hamsters.js/releases/tag/v4.1.2

[2017-05-18 20:55] lelong37 opened #30 "4.1.2 Doesn't spawn threads in browser"
For some reason when updating from 4.1.1 to 4.1.2, In 4.1.1. and running the same code with hamsters.js in node.js and in browser (Angular v4) app, both places code worked fine. However, with 4.1.2, seems browser does not spin up threads anymore.

[2017-05-19 00:20] austinksmith commented on #30
Can you provide some example logic?

4.1.2 is running in the browser on the official site @ http://hamsters.io/performance

[2017-05-19 06:54] rsmithsa commented on #29
Thanks, that resolves the issue

[2017-05-19 06:54] #29 closed

[2017-05-19 07:12] rsmithsa opened #31 "Task output is leaked after run ends."
I've got a situation where I've got about 400mb of output data in Float64Arrays. This is retained and not GC's between runs.

I've put together a very simple fix for this but haven't tested with memoisation.

[2017-05-20 02:30] austinksmith commented on #31
Let's do some fine tuned profiling to make sure this is really a memory leak, as far as I can tell the browser should garbage collect the task.

We can see that task is created like so.

[code]

hamsters.wheel.newTask looks like the following.

[code]

So every instance of task should be the same task object that is contained within hamsters.wheel.tasks which on line 559 we have the following whic

[2017-05-20 02:42] austinksmith commented on #31
I've gone ahead and did some memory profiling using the benchmark @ http://www.hamsters.io/performance using a test size of 2 million I can see that after 30 seconds only 24% of the original data was retained and only 3% of each individual typed array was retained.

![24 percent](https://cloud.githubusercontent.com/assets/2227747/26272354/166f7ca8-3ce4-11e7-9649-aecce3195909.png)

![ss](https://cl

[2017-05-20 02:43] austinksmith commented on #31
This profile data also tells me that what is retained is part of the array buffer for each array, I would need to see more example logic to understand what is unique about your use case that requires forcing the garbage collector to work sooner.

![screenshot from 2017-05-19 22-41-35](https://cloud.githubusercontent.com/assets/2227747/26272374/7ba671ee-3ce4-11e7-8508-80854e7a8128.png)

[2017-05-22 05:43] rsmithsa commented on #31
It's definitely an issue in Firefox (and looks like a problem in Chrome as well), I can manually trigger multiple GC's and my results don't get collected. It's a problem because I run into memory allocation issues for subsequent work being handled out side of hamsters.

I'm using the array input to define the number if iterations of work to do and split it up between cores. The work is all returne

[2017-05-22 15:15] austinksmith commented on #31
Though this is typically outside of the support I would normally give let's take a look at what you're doing and I'll explain the problems you're likely running into and why.

This is your example logic, (I fixed the formatting a bit)

[code]

Immediately I see a few issues, the first issue is that you're using `bypass` as a dataType argument when you an simply define `Float64` since that is your

[2017-05-23 10:02] rsmithsa commented on #31
Thanks, I'll have a look and get back to you

[2017-05-26 14:19] austinksmith commented on #31
Any luck?

[2017-05-29 05:26] rsmithsa commented on #31
Seems to be fine now, thanks for the help

[2017-05-29 05:26] #31 closed

[2017-05-29 17:07] austinksmith commented on #30
@lelong37 I am closing this issue, if you have further issues please make a new ticket. Thanks!

[2017-05-29 17:07] #30 closed

[2017-05-30 16:06] lelong37 commented on #30
Thanks seems to work now, not sure what the issue was, and thanks to the team for such an awesome package. :)

[2017-05-31 14:53] austinksmith commented on #27
@Zodiase this issue will close within 48 hours without a response.

[2017-06-01 18:28] Zodiase commented on #27
Process still won't terminate or yield any result. Tested with node `v6.10.2` and this project setup: https://gist.github.com/Zodiase/3c8b9d9862ec3ac9c486ec75b99f341a

[2017-06-02 17:17] austinksmith commented on #27
@Zodiase I've gone ahead and used your example and resolved the issue you are mentioning, it looks like a change I made back in v3.9.* caused the recent incompatibilities. This is now resolved and I've successfully tested your example using this release. Please give v4.1.3 a try and report back, thanks.

https://github.com/austinksmith/Hamsters.js/releases/tag/v4.1.3

[2017-06-03 14:30] Hizoul commented on #27
(sorry for barging in although im not Zodiase I did encounter the same problem with previous builds, but since this Issue was already there, did not report a duplicate)
I can confirm that v4.1.3 fixed the Issue of not being able to use node webworker implementations.
I confirmed this using Zodiases Example and with custom code.
webworker-threads works, but I ended up using tiny-workers, which work

[2017-06-04 17:43] austinksmith commented on #27
That's great to hear @Hizoul as I had only tested it with web-workerthreads so far, I think the implementation should be fairly consistent across the board. In the future don't worry about commenting on an open issue, the more people able to shed light on an issue the better. If you don't mind me asking what is your current use case for the library and how is the performance you're seeing in Node?

[2017-06-05 07:33] Hizoul commented on #27
Well my use case is rather an edge case for now, just playing around with isomorphic multi-core usage in js for some existing point calculations. In the beginning I tried hamster.running everything, but realized very quickly that if you do not use the TypedArray's, then copy-times are a HUGE bottle-neck. Meaning single-threaded node is much faster than calling hamsters.run 1000x with huge objects

[2017-06-05 12:20] austinksmith commented on #27
Yes serialization can be a pretty big bottleneck, you might be able to get around this by manually stringifying your data and parsing it within a thread, in some browsers that provides a pretty decent performance boost. Older versions I was manually creating array buffers to pass normal arrays using transferrables but I don't think it's going to get you past the userActions array since that contai

[2017-06-05 12:27] austinksmith commented on #27
Just to provide some more clarity, in your params object your input array is going to be split into smaller chunks and each thread is going to receive a small chunk of that input array to work with, the problem is that your userActions array is not going to be broken into smaller pieces and is instead going to be duplicated to every thread so your serialization costs are going to go up exponential

[2017-06-05 12:31] austinksmith commented on #27
This limitation is only temporary as once JavaScript adds support for shared atomics that will allow us to completely avoid the costs of duplicating that data to every thread, it's an unfortunate side effect of just how poorly (in my opinion) they implemented the worker features in JavaScript which likely stemmed from a small minded belief system that is very against the idea of threading in gener

[2017-06-05 13:03] Hizoul commented on #27
Wow thank you very much for the very detailed explanation and performance Improvements suggestions. Very Happy to see such detailed help and I do agree with everything you say.
Serialization is a good pointer also saw the background stringify and parse methods in the docs.

Unfortunately the makeScoreObjectForUser is very deeply nested structure {a: {b: {c: 3}}}, with varying keys per user. Then a

[2017-06-05 19:00] lelong37 opened #33 "Notifications to main thread from worker or child threads"
Team,

Is there away we can send notifications (small payload, with processing info) from the worker threads back to the main thread? e.g. To possibly support providing progress data from threads that are spawned to the main thread? Maybe, allow the ability to pass in another callback for notifications.

[2017-06-05 19:48] Zodiase commented on #27
@austinksmith `v4.1.3` works yay :D.

Although I noticed one minor issue: In my example provided previously, `hamsters.init` stated `maxThreads: 3`, but the thread count argument is omitted in `hamsters.run` and from examining the logs it appears only one thread is used. I'm not sure the purpose of configuring `maxThreads` in `hamsters.init`. In my assumption, if the thread count argument in `hams

[2017-06-06 14:21] austinksmith commented on #27
@Zodiase The maximum threads you are defining is a global setting limiting the maximum number of threads the library is to make use of within the thread pool. If you define `maxThreads` in your `hamsters.init` to 4 and then later call a function using `hamsters.run` that invokes 16 threads the library is going to split your work into 16 smaller pieces just like it would if it had access to 16 thre

[2017-06-06 14:24] austinksmith commented on #33
Can you be a little more specific on how you would envision this working?

Currently the library will provide you with error messages from threads if something were to go wrong in your logic.

[2017-06-06 18:30] austinksmith commented on #27
I'm going to close this issue ticket, thanks @Zodiase and @Hizoul

[2017-06-06 18:30] #27 closed

[2017-06-08 14:37] BenBenz opened #35 "[React Native] Worker is not defined on tvOS"
Hello !

It is impossible to initialize my pool of threads

This is my code:

    let startOptions = {
      maxThreads: 2,
      cache: false,
      debug: true,
      persistence: false,
    };

    hamsters.init(startOptions);
    let params = {
      array: [1,2,3,4,5,6,7,8,9,10],
      animal: 'Hamster',
    };
    hamsters.run(params, function() {
      if(params.animal === 'Hamster') {

[2017-06-08 14:46] austinksmith commented on #35
Please use the provided issue template

[2017-06-08 14:47] BenBenz commented on #35
I just have that:

ExceptionsManager.js:63 Worker is not defined
handleException @ ExceptionsManager.js:63
handleError @ InitializeCore.js:125
reportFatalError @ error-guard.js:44
__guard @ MessageQueue.js:220
callFunctionReturnFlushedQueue @ MessageQueue.js:100
(anonymous) @ debuggerWorker.js:71

[2017-06-08 17:44] austinksmith commented on #35
So it looks like ReactNative no longer includes any Worker support out of the box so you will need to make use of a third party worker implementation within ReactNative moving forward if you want real threading support. I have solved the bug you are receiving and the confirmed the library is working in legacy mode at the moment, let me know if you encounter issues with a specific third party imple

[2017-06-09 07:29] BenBenz commented on #35
With 4.1.4 I have this error:

ExceptionsManager.js:71 Unhandled JS Exception: Cannot assign to read only property 'self' of object '#<DedicatedWorkerGlobalScope>'
reactConsoleErrorHandler @ ExceptionsManager.js:71
console.error @ YellowBox.js:62
logToConsole @ RCTLog.js:45
logIfNoNativeHook @ RCTLog.js:31
__callFunction @ MessageQueue.js:250
(anonymous) @ MessageQueue.js:101
__guard @ MessageQueu

[2017-06-09 13:39] austinksmith commented on #35
So it looks like this is a security issue with something Apple has implemented within tvOS or IOS, I do not have any IOS devices on hand nor do I have any macOS devices on hand as I am currently using Ubuntu 16.04 64-bit as my development environment.

If you have any macOS / tvOS / iOS devices that you are willing to donate that will get this sorted significantly quicker as I currently cannot all

[2017-06-09 13:52] austinksmith commented on #35
I should also mention that anyone can donate towards getting this bug fixed faster using bountysource

https://www.bountysource.com/teams/hamsters.js

[2017-06-09 14:07] austinksmith commented on #35
The way I had tested this locally was using the latest React Naive version and tools while using Android 7.0 and I was getting flawless functionality so this is definitely something unique to Apple devices. Most likely the problem code is

[code]

Within Node and ReactNative traditionally there is no `window` object like you would have in the browser, inside threads `window` is actually referred t

[2017-06-09 14:15] austinksmith commented on #35
If you edit your installed copy of hamsters on line 101 and change the problem code to this, it might? resolve your issues....maybe.

[code]

[2017-06-15 07:43] Hizoul commented on #35
Did you use the code in a real React-Native Application? If so was it > v0.40?
Because the only Worker Implementation I found for React-Native (react-native-workers) is incompatbile since v0.40 (current is v0.45), and won't let you compile / run your Application.
This means no Webworkers for rn atm, which makes the "React Native Support" advertisted on hamsters.io misleading, since there won't be

[2017-06-15 13:11] austinksmith commented on #35
Unfortunately React Native seems to be changing pretty rapidly, when I wrote the support for react native originally about a year ago everything was working fine, now they've completely changed stuff to the point that Android no longer comes with built in worker support (probably to make the platform consistent with IOS), I can make a fork of react native workers and add you as a contributor @Hizo

[2017-06-15 18:40] austinksmith commented on #35
I did not test any specific third party implementation on my end as previously one was not needed for android support, I am unable to test anything related to IOS right now. I did add support for use of third pary ones which is a 1:1 copy of the same support offered which is confirmed working within Node.js

[2017-06-16 07:42] Hizoul commented on #35
Yeah react-native deliberatly stays below v1 because of so many breaking changes and probably more to come :'D
And like I said I do understand very well that this is far out of hamsters.js scope, since this is rn-specific and with webworkers this would work (and did work).
I will be happy to collaborate, I'll keep you posted as soon as I fork and start working on it, but it might be a while before

[2017-06-20 14:38] austinksmith commented on #35
@BenBenz You will need to respond to issue tickets you create in the future, tickets that don't have a response from the original writer for more than two weeks will be closed.

[2017-06-20 17:49] austinksmith commented on #35
@Hizoul Thanks for the assistance, I'm trying to finish the decoupling effort of the library and once that's complete i'll be able to dedicate some time to fixing the third party implementation out there. I find it frustrating that this is arbitrarily limited now since at least Android had full support for workers previously.

[2017-07-07 11:28] darkworks opened #37 "how to access outside function from hamsters.run"
hi am processing canvas large data so to speedup things am trying to use hamsters for the first time

so my question is that my outside functions are not accessible within  hamsters.run
example

[code]

thanks

[2017-07-07 11:45] darkworks commented on #25
[code]

you said
` func: "body of function as a string"`

so what about the parameters which are passed to function

can you tell how to pass function along parameters of function .

[2017-07-07 14:29] austinksmith commented on #37
@darkworks Thanks for using the library however please in the future please follow the provided issue template when submitting tickets, it makes it much easier for me to keep track of them down the road.

The issue you are facing is that threads are sandboxed environments so you cannot share scope with the main thread, I know this is counter intuitive at first but it's actually a good thing in the

[2017-07-07 14:33] austinksmith commented on #37
Take a look at the logic from lzwFloss for an example of how you can define functions to be used within hamsters.

https://github.com/austinksmith/lzwFloss.js/blob/master/lzwFloss.js

[2017-07-08 06:43] darkworks commented on #37
hmmm i used this : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function

to pass function body in text in paramas and it worked :)

example :
[code]

[2017-07-08 16:51] austinksmith commented on #37
Closing this issue.

[2017-07-08 16:51] #37 closed

[2017-07-08 16:51] #33 closed

[2017-07-23 16:22] austinksmith commented on #33
@lelong37 Is this still of interest?

[2017-08-11 21:58] austinksmith commented on #35
@BenBenz Can you please test this again using v4.2.0?

[2017-08-12 18:36] austinksmith opened #38 "Looking for feedback, what are you using Hamsters.js for?"
Thank you for your interest in the library, I am opening this issue ticket to try to get a better grasp from the community for what use cases they have for the library and what features they think would be useful to add to the library.

If you are currently using the library please respond to this with the format below and let me know what you think, thank you!

# _What are you using the library f

[2017-09-03 16:09] hasancanozkan opened #39 "TransformError couldnt find preset es2015"
Hi, I have a RN application and just want to try parallel programming using hamsters.js. First, I created a demo app to try the library. however I am getting a strange error,
What version of the library --> 4.2.0
What operating system are you seeing the issue on? --> Windows

Which platform (and or) browser are you seeing the issue on? React Native on andorid

What is the version of the platform (

[2017-09-03 16:17] austinksmith commented on #39
That is a new one that I have not yet encountered, take a look at this
issue as it might be related to Babel presets not being installed.

https://github.com/facebook/react-native/issues/8296

If that doesn't help I will dig deeper here in the following days.

On Sep 3, 2017 12:09 PM, "hsncnzkn" <notifications@github.com> wrote:

[2017-09-03 16:21] hasancanozkan commented on #39
I was checking on google about the same error but i havent find any solution yet, If i find, i'll also share and inform you, thanks!

[2017-09-04 08:03] hasancanozkan commented on #39
I followed the link you sent, my condition was satisfying this. Then, i realized that in .babelrc which was in main root doesn't include "presets" : es2015 . In order to solve this i did --> npm install --save-dev babel-cli babel-preset-es2015 and added es2015 in .babelrc file.

[2017-09-04 08:03] #39 closed

[2017-09-04 17:45] austinksmith commented on #39
Great, let me know if you run into any other issues with the library.

[2017-09-05 17:23] hasancanozkan opened #40 "[React Native] Can currently only create a blob from other Blobs"
Hi, I have a RN application and just want to try parallel programming using hamsters.js. First, I created a demo app to try it with a worker, namely https://github.com/fabriciovergal/react-native-workers.  however I am getting a strange error,
What version of the library --> 4.2.0
What operating system are you seeing the issue on? --> Windows
Which platform (and or) browser are you seeing the issu

[2017-09-06 18:37] austinksmith commented on #40
This is an interesting issue and it seems to revolve around ReactNative not
supporting data blobs all of a sudden? In the past data blobs worked fine
and unfortunately the library is somewhat reliant on that capability since
its the most efficient way to accomplish the functionality I needed, I will
have to look into this deeper and possibly even change how data is being
passed in the event it's r

[2017-09-14 04:43] darkworks opened #41 "[FireFox] Getting out of memory error"
* ***What version of the library are you using?***

latest version of library

* ***What operating system are you seeing the issue on?***

windows 7

* ***Which platform (and or) browser are you seeing the issue on?***

Core JS (Vanilla)

* ***What is the version of the platform (and or) browser you are seeing the issue on?***

Am on Firefox browser , using core js with html5 canvas doing some hea

[2017-09-14 04:54] darkworks commented on #38
Am using this library with html5 canvas for image processing , i have to process 5K plus resolution images so to speed pixel analysis i split up portion of image among various threads , and it end merge their results ....
Feature request : you can get number of threads user CPU can handle it one time using : navigator.hardwareConcurrency  so i was wondering if this library have queue so that upon

[2017-09-14 15:00] austinksmith commented on #38
@darkworks Thanks for using the library, the library contains a fully functional thread pool and work queue system, you do not *need* to define a maximum number of threads the library will use in your hamsters.init call as it will already detect navigator.hardwareConcurrency when the library is initialized and will fallback to a value of 4 threads if navigator.hardwareConcurrency is not present.

[2017-09-20 05:31] darkworks commented on #41
ok thanks i fixed it by turning off persistence mode

[2017-09-20 05:32] darkworks commented on #38
thanks for information :) good to hear :+1:

[2017-09-20 13:29] austinksmith commented on #41
@darkworks I am reopening this issue as it concerns me a little that persistence mode has the memory issue but non persistence mode does not. If you could send me a demo link so I can investigate and fix persistence mode I would really appreciate that. Email it to me if you are uncomfortable with it being posted here, thanks!

[2017-09-20 13:42] austinksmith commented on #40
Cross referencing this bug report https://github.com/facebook/react-native/issues/16034

[2017-09-20 14:30] austinksmith commented on #38
@darkworks Be sure to read the wiki pages on that as it explains much better, https://github.com/austinksmith/Hamsters.js/wiki/Thread-Pool-System-&-Configruation

[2017-09-20 18:33] darkworks commented on #41
ok on weekend when free i will prepare demo link for you to check .

[2017-09-25 15:50] austinksmith commented on #41
Any updates @darkworks  ?

[2017-09-26 04:38] darkworks commented on #41
sorry for delay i have mailed you check  if any question let me know

thanks

[2017-09-26 16:06] austinksmith commented on #41
Awesome thanks, I have a question about why you are invoking 32 threads
instead of simply letting the library decide a thread count? When you run
32 threads that's quite a bit of overhead and is likely slowing down the
application. I have not had time to dig into it deeper yet but my first
recommendation is to let the library invoke the threads based on logical
cores available. On my machine it wo

[2017-09-27 01:03] darkworks commented on #41
max_threads , ya good point i will set it to logical processor number , however it not matter that much because threads creation i control with loops , i mean i create threads manually based on logical cores  , count and wait for their completion , because i cant leave threads creation auto to library because i have to split work among threads and then i have to wait for all threads to complete to

[2017-09-27 13:50] austinksmith commented on #41
@darkworks  I think you need to read what the library does for you since that should all be handled automatically by the library. When you initiate the library and have say 8 processors available the library will make use of a **maximum** of 8 threads at any time, you can still start functions that use more than 8 threads and the library will intelligently manage all that for you without having to

[2017-09-27 15:45] darkworks commented on #41
hmmm i do not understand how it can split work among threads ,
for example

i have 600 dpi image i dump  pixel data like
for example

[code]

so can you tell how library can split imgData  among threads and also the two inside for loops how to set to get their respective range of imgData ?

thanks

[2017-09-29 12:37] austinksmith commented on #41
@darkworks Do you have a link to the actual repository this is stored on? It's proving difficult to figure out exactly what calls are being made where at the moment.

[2017-09-30 19:17] darkworks commented on #41
sorry we do not have repo , i work in it directly

[2017-09-30 19:31] darkworks commented on #41
i have mailed you some info check it

thanks

[2017-09-30 20:06] austinksmith commented on #41
@darkworks  Give this release a try using persistence mode and report back to me, thanks!

https://github.com/austinksmith/Hamsters.js/releases/tag/v4.2.1

[2017-10-01 18:15] austinksmith commented on #41
Take a look at the new release I put out v4.2.1 it now forces the garbage
collector to run sooner when a thread has finished completing its task.
This should make a large difference in heap usage over time.

This message (including any attachments) may contain confidential,
proprietary, privileged and/or private information. The information is
intended to be for the use of the individual or entity

[2017-10-04 20:04] austinksmith commented on #41
@darkworks I am closing this ticket as you emailed and said v4.2.1 has resolved the out of memory issues.

[2017-10-04 20:04] #41 closed

[2017-10-04 20:06] austinksmith commented on #35
@BenBenz I am closing this ticket due to inactivity, there is an open issue currently related to React Native blob support (lack there of), in the mean time please use v4.2.1 as it should solve the "self" issues this ticket was referencing and you will have the library in place for when RN fixes their blob support.

[2017-10-04 20:06] #35 closed

[2017-10-05 04:45] darkworks commented on #41
ya v4.2.1 have fixed memory issue in persistence mode , now its working ok :)

thanks

[2017-10-25 21:59] Andrews54757 commented on #38
@austinksmith Hello, I have seen your library and it looks cool. However, I would like to know what is particularly interesting about your library. Why use hamsters.js instead of other, more lightweight libraries such as [Multithread.js](https://keithwhor.github.io/multithread.js/)? What does Automatic Data Aggregation mean? What is memoization used for?

Thanks,
Andrew S

[2017-10-30 14:14] austinksmith commented on #38
@Adrews54757 Please cease and desists the use of the library landing page site design immediately, multithread js tackles concurrency not parallelism. The website and wiki accurately explains your other questions, please consider this a friendly notice to stop the use of the hamsters.io layout / design immediately. I will grant a window of 72 hours to comply. A significant amount of time has gone

[2017-10-30 14:22] Andrews54757 commented on #38
@austinksmith I did not copy any of your code. Even for the website, I handmade. I will NOT retract anything. I did not even mention my own project here at all. Even the converter code, I did not copy. Compare it with yours, and you will see.

[2017-10-30 14:29] austinksmith commented on #38
[code]

Looks pretty much the same to me, aside from the return buffer. The library is open source, it's perfectly fine to use pieces of it as long as work is attributed to the original within the code base, a simple code comment would suffice */* Sourced from *library* version *1.2.3* */*.

The website is almost a direct copy of the hamsters.io site, whether it was "made by hand" assets were used

[2017-10-30 14:33] Andrews54757 commented on #38
@austinksmith I built the converter by HAND. Look at the commit history, you shall see. It was not inspired by you. The website's assets were not yours either, the assets and their individual copyrights were untouched.

https://github.com/ThreeLetters/Accel/tree/gh-pages

[2017-10-30 14:42] Andrews54757 commented on #38
@austinksmith Can we get back on topic now? Away from my own project? I want to know what is particularly interesting about yours.

[2017-10-31 14:58] austinksmith commented on #38
I am closing this issue for archiving purposes, this discussion has derailed and is not in line with what this issue ticket was made for, this is not a place to bash the library in order to promote your own offerings.

@Andrews54757  You will be contacted should the 72 hour window pass without removing the infringing content.

[2017-10-31 14:58] #38 closed

[2017-10-31 15:33] Andrews54757 commented on #38
@austinksmith I did not mention my library in any way. You brought the subject up after you looked at my profile. I have no intention to advertise here, as I do not need too. However, please note that I will ignore the 72 hour deadline as I believe that I did nothing wrong. If I get a notice, I shall confer with my legal team to support my project. I will not give into you pressuring me to throw a

[2017-11-10 19:21] Andrews54757 commented on #38
Public Apology to @austinksmith

I (Andrews54757), apologise for infringing upon Hamsters.js. I am very sorry, and it will never happen again. I should have known that I have done something wrong, but I was ignorant. I am truly sorry for copying [hamsters.io](http://hamsters.io), and I have fully removed all content deemed infringing. I am very sorry for the inconvenience, and I wish him goodwill.

[2017-11-13 09:53] Neoflash1979 opened #42 "Add support for Promises"
How about adding support for Promises. Many asynchronous libraries now offer both callbacks and Promises. I would love to be able to use Hamsters.js with async/await.

[2017-11-13 13:07] austinksmith commented on #42
Thanks @Neoflash1979 for the interest in the library, I actually have plans for doing that and quite a bit more though I started at a new job and started my own company recently and it's been eating up the majority of my time (that and a new puppy/car problems keeps me busy haha). So at the moment I am in the process of moving the code base to making use of import and export instead of require and

[2017-12-06 00:51] austinksmith commented on #42
Just a status update, I've completed rewriting the code base into an es6 class and am in the process of adding promises and a ton of other improvements, so they will be included in the next release.

[2018-01-03 05:47] amos80m commented on #40
same problem

[2018-01-04 16:00] austinksmith commented on #40
We are still waiting for this to land, looks like it wont be official until 0.53 at the earliest. https://github.com/facebook/react-native/pull/11573

Fortunately the new version of Hamsters.js will include a workaround for this, though it's not ideal it should get us past this issue once and for all.

[2018-01-17 09:50] satya164 commented on #40
FYI React Native never supported Blobs.

[2018-01-23 06:48] darkworks opened #44 "error _slicedToArray is not defined"
thanks for the amazing lib :) i was wondering when the new version will be released as i have noticed its logger is improved with current latest version i have bit hard time with debugging as recently i have encountered error when i have started using hamster along webpacks

[code]

[2018-01-23 14:52] austinksmith commented on #44
Hey @darkworks the dev branch shouldn't be used right now since its under changes whenever I get the opportunity to work on it. I cannot give an exact ETA on when the next version will be released since its dependent on when I get some free time to sit down and concentrate which seems to be pretty rare lately.

I don't know if you've seen the website lately but I've been working on that and adding

[2018-01-23 14:55] austinksmith commented on #44
I am also mulling over the need to test for newer higher core count processors and unfortunately do not have the ability to allocate funds towards new hardware purchases right now. I would love to get my hands on a 32 thread AMD threadripper processor and validate and test the library against that, right now I only have access to 8 thread Core i7 machines which is mainly what the library was devel

[2018-01-23 16:02] amos80m commented on #40
I moved my code to Heroku => post the image file and send it to Firestore.
working 100%

[2018-01-23 16:11] austinksmith commented on #40
@satya164  I can definitively say the library worked flawlessly (Android 4.0+) when I first started developing using ReactNative about a year and a half ago. Blob support was never an issue, whether it really worked or just failed silently the library never had an issue running until recent version of RN were released. Perhaps it has something to do with their push for the new fiber stuff.

There

[2018-01-23 16:12] austinksmith commented on #40
@amos80m You solved the problem within Hamsters.js or the problem within ReactNative? I'm not sure i follow.

[2018-01-23 16:21] satya164 commented on #40
It's not related to Fiber. There was no `Blob` object available earlier. Blob support was added recently, but it's not full-featured yet. If your code had a fallback without blobs, it was probably working, and if not, it was failing silently.

[2018-01-23 17:22] darkworks commented on #44
ok i will wait :) for the new version , good that i fixed the error

thanks

[2018-01-23 17:31] austinksmith commented on #44
No problem, thanks @darkworks

[2018-01-23 17:31] #44 closed

[2018-01-30 13:03] bacancysejal opened #46 "I getting error can't find variable: rtn from app.js"
Thank you for using Hamsters.js! In order to best assist you please follow the guidelines laid out below as they will help significantly in resolving your issues. Tickets that do not follow the provided issue template have less than satisfactory information to resolve the problem reported and will therefore not receive priority support.

### Be polite and courteous

Attitude goes a long way, while

[2018-01-30 13:10] bacancysejal opened #47 "error can't find variable: rtn from app.js"
handleHamster = () => {
        var params = {
            array:[0,1,2,3,4,5,6,7,8,9]
        };
        hamsters.run(params, function() {
            var arr = params.array;
            arr.forEach(function(item) {
                console.warn('calllll', item)
                rtn.data.push((item * 120)/10);
            });
        }, function(output) {
            console.warn('output', output)

[2018-01-30 13:12] #46 closed

[2018-02-01 00:32] austinksmith commented on #47
Do me a favor, this version isn't ready for release yet but give this a shot.

Clone the dev branch of the library and use that (it's a work in progress but should be functional as a test bed for react native fixes).

Import react native threads like you have already

[code]

and then do this on your library startup

[code]

Please report back your results, I'm nearing completion on the next libra

[2018-02-01 00:39] austinksmith commented on #42
@Neoflash1979 can you do me a favor and try out the dev branch hamstersPromise method and report back? Thanks.

[2018-02-01 00:44] austinksmith commented on #42
You'll need to make use of the params object for everything now..so
[code]
[code]

or

[code]

[2018-02-01 00:50] austinksmith commented on #42
Dev branch isn't ready for prime time yet, its a work in progress and can be considered the first release candidate version, not all features are working at the moment.

[2018-02-01 00:53] austinksmith commented on #40
Can you give dev branch a try alongside react-native-threads? Just make sure you import the library as laid out below. Apologies for the long delay, next version is a complete ground up rewrite of the library and its taken a long time to get it where I want.

[code]

and then do this on your library startup

[code]

Please report back your results, I'm nearing completion on the next library versio

[2018-02-01 09:34] bacancysejal commented on #47
@austinksmith
I already import 'react-native-threads' library

import React, { Component } from 'react';
import {Button, StyleSheet, Text, View} from 'react-native';
import './config';
import { Thread } from 'react-native-threads';
import hamsters from 'hamsters.js';

var startOptions = {
    maxThreads: 2,
     Worker: Thread
};
hamsters.init(startOptions);

export default class App extends Compo

[2018-02-01 09:36] bacancysejal commented on #47
@austinksmith
I already import 'react-native-threads' library

import React, { Component } from 'react';
import {Button, StyleSheet, Text, View} from 'react-native';
import './config';
import { Thread } from 'react-native-threads';
import hamsters from 'hamsters.js';

var startOptions = {
maxThreads: 2,
Worker: Thread
};
hamsters.init(startOptions);

export default class App extends Component<{}>

[2018-02-01 12:51] austinksmith commented on #47
Did you use the dev branch of hamsters? The idea is you validate dev branch
works before its released

On Feb 1, 2018 4:36 AM, "Sejal Virda" <notifications@github.com> wrote:

[2018-02-01 15:28] Neoflash1979 commented on #42
@austinksmith Ok, will take a look and report back. Is there anything in particular you would like me to test?

[2018-02-02 07:18] bacancysejal commented on #47
Hey,

I have done  'npm install hamsters.js --save'.
now I have found the solution for that error and run it and get output.

thank you.

On Thu, Feb 1, 2018 at 6:21 PM, Austin Smith <notifications@github.com>
wrote:

[2018-02-02 13:27] austinksmith commented on #47
Which version of the library are you running now? Dev branch isn't on npm yet

[2018-02-03 18:21] #47 closed

[2018-02-04 15:03] austinksmith commented on #42
@Neoflash1979 nothing crazy, just make sure you can call the library and run a function on its own thread and you can run a function across multiple threads like a for loop going through an array

[2018-02-07 19:27] Neoflash1979 commented on #42
@austinksmith I played with it a little and everything seems to work properly. It's great to be able to use it inside an async function.

[2018-02-07 20:52] austinksmith commented on #42
@Neoflash1979 awesome, did you test with Node.js? Which version did you use?

 I still need to wrap up the following before the new version will be live.

1. Fix legacy fallback support
2. Write more jasmine test cases
3. Investigate an issue with chrome on mobile
4. Some other small tweaks for the queue & cache system

As you can see its a big change from before so it's taken quite a while but ev

[2018-02-07 21:13] Neoflash1979 commented on #42
@austinksmith Good work. This is a really neat library. I tried it in Node.js version 8.1.3 and also in the latest version of Chrome and I didn't run into any issues.

[2018-02-08 18:20] austinksmith commented on #42
@Neoflash1979 thanks, I'm going to be marking this as resolved now since you are able to use it at the moment. Though keep in mind the dev branch is not the final iteration of the new version, also I should note there will be some changes to the licensing agreement alongside the new release due to some bad actors which cost me a somewhat  significant sum of money to put a stop to, though it should

[2018-02-15 14:04] austinksmith commented on #40
I do not have access to any systems that will allow me to test react native support especially for IOS or AppleTV etc. I will need the community to validate this works.

[2018-02-18 13:41] amos80m commented on #40
@austinksmith I created a Node.j.s App that receive images files as post from react native app.
the Node.js App is connected as an Admin to firebase and saving my uploaded images to firestore.
and i can upload as many images and sizes as I need without any issues

[2018-02-24 21:47] austinksmith commented on #40
I've released version 5.0.0 of Hamsters.js, this should resolve any outstanding react native issues but please open a ticket if it does not :+1:  thanks!

https://github.com/austinksmith/Hamsters.js/releases/tag/v5.0.0

[2018-02-24 21:47] #40 closed

[2018-02-24 21:48] austinksmith commented on #42
@Neoflash1979 Version 5.0.0 is officially live with support for promises, you will want to use this as it includes some other fixes your version didnt have. Thanks!

https://github.com/austinksmith/Hamsters.js/releases/tag/v5.0.0

[2018-02-24 21:48] #42 closed

[2018-03-02 05:16] JonathanGVfrenton opened #48 "ERROR: _habitat2.default.SharedWorker is not a constructor [React Native]"
### New Issue Report

* ***What version of the library are you using?***

"hamsters.js": "^5.0.0" + "react-native-threads": "^0.0.10"

* ***What operating system are you seeing the issue on?***

MacOS

* ***Which platform (and or) browser are you seeing the issue on?***

React-Native
    "react": "^16.3.0-alpha.1",
    "react-native": "0.54.0",

* ***Example logic***

Trying to run the code descri

[2018-03-02 13:13] austinksmith commented on #48
That's weird because reactnative shouldn't be trying to use SharedWorkers at all but i digress.

Try running init like so..

[code]

[2018-03-02 16:36] JonathanGVfrenton commented on #48
With the new init, I got a different error:   Can't find variable: BlobBuilder

StackTrace:
  createDataBlob (data.js:190:23)
  generateWorkerBlob (data.js:113:38)
  spawnHamsters (pool.js:99:44)
  initializeLibrary (hamsters.js:54:31)
  ...
  myCode calling:
  hamsters.init({
      Worker: Thread,
      SharedWorker: Thread
    });

Looking at the source, data.js:190:23:
      ...
      let BlobM

[2018-03-02 23:11] austinksmith commented on #48
Would you be willing to test some changes I make with the dev branch?

[2018-03-03 00:27] JonathanGVfrenton commented on #48
Absolutely, yes.

I’m off for the day, but happy to start next week.

Thanks in advance for your help.

[2018-03-03 00:55] austinksmith commented on #48
Alright, I think I located an fixed the bug..typo between `this.webWorker` and `this.webWorker()` I also tweaked the data blob creation to be more fail safe, give it a shot and let me know how it goes. Thanks.

[2018-03-05 17:26] austinksmith commented on #48
Any luck?

[2018-03-05 18:40] JonathanGVfrenton commented on #48
Hi,

My apologies, I had to follow other priorities for the day.  But, I’ll re-visit these tests tomorrow first thing in the morning.

regards,

[2018-03-06 16:52] austinksmith commented on #48
No worries just keep me posted

[2018-03-07 01:33] JonathanGVfrenton commented on #48
Hi,

Using lastest development version I’m getting this error:

Is there any chance, this worker implementation is not suitable for working with hamsters?

import { Thread } from 'react-native-threads';

Thanks!

[2018-03-07 01:41] JonathanGVfrenton commented on #48
Another test, same latest dev but running on a bigger app
("react": "16.0.0-alpha.12", "react-native": "0.47.1",) is showing a different error:
![image](https://user-images.githubusercontent.com/36979731/37068839-5e323702-2176-11e8-8821-341787f8f0e6.png)

[2018-03-07 12:18] austinksmith commented on #48
That's actually what I was hoping to see, somewhere along the lines the library is mixing react native and another environment. Until the next release of RN, it doesn't have support for data blob creation, the latest version was supposed to skip using data blobs for react native entirely but it looks like part of the problem was not fixed.

I will be pushing another fix this morning into dev branc

[2018-03-07 23:45] austinksmith commented on #48
Ok sorry for the delay, give it a shot now and report back we should be close to the finish line now

[2018-03-07 23:58] austinksmith commented on #48
Also make sure when you test to remove "SharedWorker" from your hamsters.init call so you're only passing Worker this time

[2018-03-08 12:46] austinksmith commented on #48
Basically the issue ultimately came down to environment detection, the library has to do quite a bit of self modification during execution in order to support so many environments which means if something goes wrong during the detection process then it will attempt to use an unsupported feature like data blobs in this case.

In core/habitat.js there are two functions that attempt to detect if we'r

[2018-03-10 17:10] austinksmith commented on #48
Please let me know when you test if the latest dev branch tweaks worked

[2018-03-12 00:45] austinksmith commented on #48
I should also add that in the dev branch is a new feature to allow you to override the automatic environment detection so you can now do something like this...

[code]

[2018-03-13 03:10] JonathanGVfrenton commented on #48
Thanks, again for your time and patience, with the latest version from dev, using:

hamsters.init({
  Worker: Thread,
  //SharedWorker: Thread   --> with or without the SharedWorker
  browser: false,
  reactNative: true
});

![image](https://user-images.githubusercontent.com/36979731/37320437-55cf90d8-2639-11e8-9ee6-ab57f91d8bbf.png)

//- Another test ------------------------------
hamsters.init({

[2018-03-13 12:46] austinksmith commented on #48
The error "Only js files are supported" is what we wanted, that means we're past the environment detection issues. I'll make another tweak in a few and we should hopefully be good to roll.

IE10 has security issues, Node and ReactNative don't come with web worker support so what I have been doing for node is simply passing the logic we want executed inside the worker directly. I guess react native

[2018-03-15 12:12] austinksmith commented on #48
Ok cool give it a shot as soon as you can and report back, in the new dev branch there is a folder under the build directory called common, it basically is just an exact copy of the same file that's under src/common , for reactNative it should now load that file.

It's a relative path and since we are executing from within the build directory our path is going to be

`./common/hamstersWheel.js`

[

[2018-03-16 06:48] JonathanGVfrenton commented on #48
Following the setup steps, copy the src folder and paste it within my project, I got this import:

import { Thread } from 'react-native-threads';
import hamsters from './app/utils/hamsters/hamsters';

iOS:
![image](https://user-images.githubusercontent.com/36979731/37507257-3a54dc06-28b3-11e8-8329-7bd97ee03812.png)

Android:
![image](https://user-images.githubusercontent.com/36979731/37507371-c23b

[2018-03-16 11:49] austinksmith commented on #48
Don't copy the src folder, copy the build folder..package.json references
the build/hamsters file..if you copy the src folder then you must copy the
common folder INTO the src directory

On Mar 16, 2018 2:48 AM, "JonathanGVfrenton" <notifications@github.com>
wrote:

[2018-03-16 12:23] austinksmith commented on #48
The folder structure looks like this..

build/hamsters.node.js <- referenced in package.json
build/common/hamstersWheel.js

When it loads, it's expecting the common folder to be in the same directory as the hamsters.js file, if you copied the src directory then the common folder will be in the parent directory and not the same directory

[2018-03-16 12:50] austinksmith commented on #48
I just went ahead and changed it permanently in the project structure so that way common is always nested under src/core and the build process ensures it gets placed properly in the build directory so regardless of how you use the library it *should* load the file

[2018-03-19 19:55] JonathanGVfrenton commented on #48
I have two options for setup your library:

1) Download your code from dev and copy (build or src contents, tried both already) within an app/util/hamsters/ folder
import { Thread } from 'react-native-threads';
import hamsters from './app/utils/hamsters/hamsters';

hamsters.init({
  Worker: Thread
});

 executeHamsters() {
    var params = {
      array: [1, 2, 3, 4],
      threads: 4
    };
    h

[2018-03-19 20:09] austinksmith commented on #48
Read the message you are receiving and move the folder to the appropriate location, its clear react native is expecting common to be in your root project directory

[2018-03-19 20:41] JonathanGVfrenton commented on #48
I moved common folder to the root.  Now I'm getting this.

![image](https://user-images.githubusercontent.com/36979731/37621116-aa17da2a-2b83-11e8-8736-84f50e4e07f4.png)

[2018-03-19 20:48] austinksmith commented on #48
Fixed the typo

https://github.com/austinksmith/Hamsters.js/commit/16fd83c5940565374acf13b276aba43789260535

[2018-03-19 20:59] JonathanGVfrenton commented on #48
With latest version on commit d0b602c
![image](https://user-images.githubusercontent.com/36979731/37621845-c97bfae8-2b85-11e8-8a7e-3d0034fc7f64.png)

[2018-03-19 21:12] austinksmith commented on #48
That's annoying since it works everywhere else, give the latest changes a shot..changed it from adding an event listener for the message to just assigning onmessage

[2018-03-20 02:59] JonathanGVfrenton commented on #48
I got a similar error with onmessage:

![image](https://user-images.githubusercontent.com/36979731/37633537-64682cc0-2bb8-11e8-829c-74ad594903dd.png)

Thanks.

[2018-03-20 03:15] austinksmith commented on #48
As a hopeful permanent solution to this problem i have created a new wheel file specifically tailored for react native threads, though this is outside the scope of the support I would normally provide the amount of pain its been to get this working makes me want to see it through to the end.

This new file is called rnHamstersWheel.js and it's under the common folder as well, the library has been

[2018-03-20 03:37] JonathanGVfrenton commented on #48
Good progress, but still is not working as expected:

![image](https://user-images.githubusercontent.com/36979731/37634796-a8c4bb9a-2bbd-11e8-9e94-670cb278764f.png)

[2018-03-20 03:46] austinksmith commented on #48
That doesn't look to be a problem within the Hamsters.js library anymore, however something to note is that react native threads says that you can only use strings to communicate meaning that performance is not going to be ideal. I can modify the library to only use string communication for react native but that means react native threads cannot support transferable objects

[2018-03-20 03:51] austinksmith commented on #48
I've modified the logic to stringify the data and parse it when communicating, this should ensure the library is only handling string's as required by react native threads, though like I warned this will have a negative impact on performance due to higher communication overhead between threads. Therefore my recommendation for you to extract the best performance is to use a low global thread count

[2018-03-22 13:07] austinksmith commented on #48
Please report back when you get the opportunity, I am going to mark this ticket as resolved if I don't hear anything soon. Thanks!

[2018-03-22 14:44] JonathanGVfrenton commented on #48
using threads: 3
on iOS:
![image](https://user-images.githubusercontent.com/36979731/37776904-f8b5cc08-2dab-11e8-9e8e-511f84a3661f.png)

on Android:
![image](https://user-images.githubusercontent.com/36979731/37777452-2f4c04e8-2dad-11e8-821a-8f0d0dae8fea.png)

[2018-03-22 14:48] JonathanGVfrenton commented on #48
Herewith you can find the source I'm using for testing.

Please, give it a try.
[TestHamsters.zip](https://github.com/austinksmith/Hamsters.js/files/1838013/TestHamsters.zip)

[2018-03-22 15:23] austinksmith commented on #48
I am going to mark this ticket as resolved and close it out, the problems you are seeing do not appear to have anything to do with the library itself. You will need to debug yourself why calling `JSON.stringify` on an object containing an array would fail within your react native appication, this has already far exceeded the typical support given for the project. Hamsters.js free support is limite

[2018-03-22 15:23] #48 closed

[2018-03-22 15:33] JonathanGVfrenton commented on #48
I really appreciate your help, I have a different standpoint.

It is not my application, I've been trying with a simple react-native application created from scratch only with the code for testing your library, the problem is completely isolated in your library, or the compatibility with a brand new rn application, so we can help each other.  I have been following your advices, doing trials and er

[2018-03-22 15:40] austinksmith commented on #48
[code]

This is exactly what I have done for you.

Here are the following new features that have been added to the library specifically to resolve your problems.

1. Environment overrides, force the library to use reactNative execution path, a critical step you are skipping *right now* which is the *EXACT* cause of your current bug, read the message you are seeing does the error message say anythi

[2018-03-22 15:47] austinksmith commented on #48
Hamsters.js is an open source vanilla web-worker based *javascript* library, all the library operations adhere the web worker specification to the fullest extent possible, if using stringified objects is not possible within react-native-threads then that is not a problem within this library anymore. Environments must adhere to the worker specification, if they do not adhere to the specification th

[2018-03-24 02:36] JonathanGVfrenton commented on #48
Thank you so much for all your help, now using the configuration you provided, without react-native-threads, it is working.

Thanks for your patience.

[2018-03-24 14:16] austinksmith commented on #48
Great, but a word of warning. When you use the library without a third party worker implementation the library will fallback to legacy operation mode, this means that the library will still work and you can still write your logic to use the library and take advantage of some of the library features but you are *not* getting the benefit of multiple threads and ALL execution is taking place on the m

[2018-03-29 17:12] WorkMAE opened #49 "Hamsters.js v5.1.1 Error: undefined @ 1522342944715"
Hi, I am trying to get this library up and running to help with some calculations I am going to be running but I keep getting an undefined error when I try and call hamsters.run.

I have an array of an array of objects, that are nested via d3 prior having it passed into hamsters, I am not sure if that is causing the issue or not, which I would hope not since this is a fairly basic use case, nothin

[2018-03-29 17:18] austinksmith commented on #49
Please provide what `data` looks like

[code]

[2018-03-29 17:26] WorkMAE commented on #49
I used a promise and this is the error I get:

![image](https://user-images.githubusercontent.com/31932842/38103585-bb102f0c-3354-11e8-8410-801f935e84bc.png)

[2018-03-29 17:31] WorkMAE commented on #49
Here is a better overview of what the data looks like:

![image](https://user-images.githubusercontent.com/31932842/38103804-5d4bcbd2-3355-11e8-9fbc-02a1b7d0242c.png)

Its sorted first by employee name, then by Company and then by Month...so the operations are going to be done within the data in the lowest levels

[2018-03-29 17:39] WorkMAE commented on #49
Hmm...I tried with just a basic array like in the examples and I still get the "scaffold is not defined" error when using a promise...it appears that it is not an issue with the array itself but with something else

[2018-03-29 17:44] WorkMAE commented on #49
seems like an installation issue...I did not upload the src directory to the server...does this need to be in any special place or just in the same location as hamsters.js?  I've never actually had to do anything like this before, typically I just reference the js library and add it to the index page...

[2018-03-29 18:05] WorkMAE commented on #49
I'm not using node, I'm assuming I want the build version hamsters.web.min.js?

Do  I still need to upload the stuff in the source directory?

[2018-03-29 18:08] austinksmith commented on #49
Please recreate this ticket following the provided template that is in the modal when you created it. Do not simply remove the template.

[2018-03-29 18:08] #49 closed

[2018-03-29 18:16] WorkMAE opened #50 "Install issues"
Thank you for using Hamsters.js! In order to best assist you please follow the guidelines laid out below as they will help significantly in resolving your issues. Tickets that do not follow the provided issue template have less than satisfactory information to resolve the problem reported and will therefore not receive priority support.

### Be polite and courteous

Attitude goes a long way, while

[2018-03-29 19:06] austinksmith commented on #50
Take a look at the source on this page..the library is just included using a normal script tag.

https://www.hamsters.io/examples/collatzconjecture

[code]

[2018-03-29 19:27] austinksmith commented on #50
Use this file https://www.hamsters.io/javascripts/benchmark/hamsters.min.js

[2018-03-29 19:28] austinksmith commented on #50
Actually...did you ever run...`hamsters.init();` ?

[2018-03-29 19:29] WorkMAE commented on #50
no...I haven't ran hamster.init()

[2018-03-29 19:30] austinksmith commented on #50
You should probably try that..

[2018-03-29 19:34] WorkMAE commented on #50
OK...I see it is trying to load and then it says its ready, but then gives me the same error and a bunch of 404 errors to /common/rnHamstersWheel.js

![image](https://user-images.githubusercontent.com/31932842/38109598-a833b388-3366-11e8-83f5-a9c72bbba213.png)

[2018-04-01 13:56] austinksmith commented on #50
I'm going to reopen this issue, it took a while but I managed to track down the problem with promises and will have a new release ready here shortly that fixes them and will also improve performance as I've found a way to precompute more of the library operations on initialize so latency should be lower when running logic

[2018-06-15 07:55] AngKalabaw opened #52 "Hamsters.js v5.1.1 Error: undefined @ 1529048722217 - Using Angular 5"
Hello friend :smile:

using your awesome library for a test drive.

##planted like this:
`var hamsters = require('hamsters.js');`

##used it like this:
[code]

and chrome console says:

##using
Angular 5
Google Chrome Version 66.0.3359.181 (Official Build) (64-bit)
Thanks :smile:

[2018-06-19 02:42] WorkMAE opened #53 "Uncaught ReferenceError: adTestentListener is not defined"
### New Issue Report

* ***What version of the library are you using?*** 5.1
* ***What operating system are you seeing the issue on?*** Windows 7
* ***Which platform (and or) browser are you seeing the issue on?*** Chrome
* ***What is the version of the platform (and or) browser you are seeing the issue on?*** Chrome 63/Angular JS 1.50

* ***Example logic***

I am trying to pass in Uint8Arrays and

[2018-08-11 18:10] andreujuanc opened #54 "Tests not pasing"
Cloned the repo, dev.
npm install
npm run test

OS: Windows 10.

Here is the resport.
https://pastebin.com/8AL6yaHQ

~~Also it does not build. Havent digged why yet.~~
It's caused by rm and cp commands, which does not exists in windows. Most of these issues might be fixed by using a more recent webpack version and a couple of plugins to move things around and delete/clean folders.

Cheers

[2018-10-25 08:58] jpinxten commented on #52
Got the same issue with angular 6 on Chome Version 69.0.3497.100 (Official Build) (64-bit)

**##planted like this:**
`import * as hamsters from 'hamsters.js';`

Console error:

[2018-10-30 23:32] austinksmith commented on #53
I cannot guarantee this will work but give something like this a shot, if you want I can debug this for you but it would have to be on a premium support paid option thing, and I would have to have a better understanding of your specific problem and what your data looks like before invoking the library.

    var data = [];
                var myProm;
                for (var i = 0; i < 4; i++) {

[2018-10-30 23:32] #53 closed

[2018-10-30 23:34] austinksmith commented on #54
Ah yeah, I use Ubuntu/MacOS/Unix for my development so I never wrote with Windows 10 testing in mind, I just ensured to test before publishing each build. Thanks for the report, I'll look into it once I get back to working on the library.

[2018-10-30 23:34] #54 closed

[2018-10-30 23:34] #50 closed

[2018-11-21 10:43] ingviso opened #55 "React-native android side, typeerror using hamsters and react-native-threads"
Hello

I'm getting error message using hamsters and react-native-threads. I'm able to use both but still get typeError.
### New Issue Report

* ***What version of the library are you using?***
react-native: 0.55.2
react-native-threads: 0.0.13
hamsters: 5.1.1

* ***What operating system are you seeing the issue on?***
Android / React-native

I'm able to call up the worker and it does it's job but I

[2018-11-21 22:56] austinksmith commented on #55
Could you do me a favor and post where you are defining, ``` this.workerThread ``` as well, thanks!

[2018-11-27 10:52] ingviso commented on #55
Hey sry for the late reply

[code]

I will then only use:
[code]

[2018-11-27 14:21] austinksmith commented on #55
Can I also see what the contents of ``` worker.thread.js``` are?

Your init call should look more like this..

[code]

Instead of doing a postmessage

[2018-11-27 14:24] austinksmith commented on #55
Hamsters.js will handle communication between the threads automatically when you make a function call using the library so you shouldn't do anything with ``` new Thread ``` or ``` workerThread.onmessage ``` as Hamsters.js does it's own onmessage stuff

[2018-11-27 15:46] ingviso commented on #55
Should I maybe skip the react-native-threads altogether and just use hamsters, within the worker I'm calling up a native function.

This is my worker.thread.js
[code]

Maybe better then ?
[code]

[2018-11-27 15:58] austinksmith commented on #55
So I think you need to rethink the way you're using the library a bit.

https://www.hamsters.io/wiki#react-native

[code]

So this will give you a Worker or Thread to work with right, and when you initialize the library the library will take that web worker object and will spawn the threads you are going to access.

When using the library you won't need to define a separate worker file but instead

[2018-11-27 16:04] austinksmith commented on #55
Here's more info on importScripts - https://developer.mozilla.org/en-US/docs/Web/API/WorkerGlobalScope/importScripts

[2018-11-27 16:18] ingviso commented on #55
Great thanks I will test this.

[2018-11-28 10:09] ingviso commented on #55
Still not sure on how I should be using the third party workers, the only worker package that is maintained in react-native is react-native-threads.
For that to work you have to have a separate file that is your worker -> worker.thread.js and to invoke that inside the main code you have to use:
`workerThread = new Thread('../../worker.thread.js');`

So if I use
[code]
[code]

hamster.init still gi

[2018-11-28 13:24] darkworks opened #56 "how to migrate from v4 to v5"
### New Issue Report

* ***What version of the library are you using?***

am using v4.1.2 its working i was thinking to update it to v5 i have downloaded v5 and replaced v4 files with it . but am getting error

`Uncaught TypeError: _hamsters2.default.init is not a function`
am using webpack 4 environment

i imported it like
`import hamsters from './../../../node_modules/hamsters.js/build/hamsters.

[2018-11-28 13:44] austinksmith commented on #56
Try changing your import to this path...

```build/hamsters.web.min.js```

[2018-11-28 13:45] austinksmith commented on #56
Take a look at the build folder, there are now two different versions of the library ... one for web and one for node https://github.com/austinksmith/Hamsters.js/tree/v5.1.1/build

[2018-11-28 13:52] darkworks commented on #56
ya i understand the point , however i have already changed file name from hamsters.web.min.js  to hamsters.js  as it was in old so that i have not to change files names every where , webpack have build it too but still getting error, am calling  hamsters.init(startOptions);  inside constructor

[2018-11-28 13:57] austinksmith commented on #56
Hmm, try to not change the file name, the .map file might cause some problems and web pack probably doesn't like that the file name is changed. I'm getting my environment setup for react native debugging right now, if ```hamsters.init``` is undefined then it's likely you just need to wipe out the hamsters.js file and reinstall again and then make sure you reference it using the proper file name in

[2018-11-28 14:55] darkworks commented on #56
ok thanks
![image](https://user-images.githubusercontent.com/12841788/49159999-9900e380-f347-11e8-8421-555fb1b3782a.png)

i changed files names to default  hamsters.web.min.js now error changed to

`TypeError: _hamstersWebMin2.default.init is not a function`

[2018-11-28 15:01] darkworks commented on #56
oh you were right

used hamsters.node.min.js  it worked

but there is path problem its looking for file it wrong place
giving error
`http://localhost/script/common/rnHamstersWheel.js 404 (Not Found)`
although its near to it in its folder but its looking outside the node_modules folder

[2018-11-28 16:14] austinksmith commented on #56
Try overriding the init call like this...

[code]

[2018-11-28 16:37] darkworks commented on #56
i did disable reactnative after that it generate few new errors
[code]

[2018-11-28 16:46] austinksmith commented on #56
Are you using v5.1.1?

[2018-11-28 16:53] darkworks commented on #56
ya

[2018-11-28 18:21] austinksmith commented on #56
I think I would need to see your specific application to be able to debug what exactly is returning undefined, it looks like you're trying to access a variable within a thread that doesn't exist? If you can email me the repo in question or files I can take a closer look - austin@asmithdev.com

[2018-11-28 18:31] darkworks commented on #56
hmmmm ok i will mail you code block which is trigger it , probably tomorrow as its late night here , however my application is working ok with v4.2 smooth no issue , update reason was that maybe debugger have improved in v5 as some time i have hard time in finding line# on which error occur inside hamster block .

thanks for the amazing work and assistance :)

[2018-11-29 06:04] darkworks commented on #56
so i write this simple test function to test and its giving same error on it too

[code]

so when i call it

![image](https://user-images.githubusercontent.com/12841788/49202481-8da0cd00-f3c6-11e8-83d6-ce49e8f4634c.png)

[2018-11-29 12:08] darkworks commented on #56
i have sent mail , i created test app , please review

thanks

[2018-11-29 15:07] austinksmith commented on #56
So I tried running your app, I can get it to compile and I can get it to spin up the server on localhost:8080 but it's only serving as a file directory and not a webserver

[2018-11-29 15:36] austinksmith commented on #56
So evidently you just need to initialize the library without passing the start options...

For some reason when you are passing ``` persistence: false ``` the library is breaking, so just keep persistence mode on and you shouldn't have the problem anymore.

I'll try to figure out whats going on with the web and non persistence mode with the next release, for now though you'll probably get better p

[2018-11-29 15:37] austinksmith commented on #56
Tested with v5.0.0 and v5.1.1., both work with your example app if you don't disable persistence which is on by default

[2018-11-29 15:38] #56 closed

[2018-11-29 15:39] austinksmith commented on #55
Can you email me a copy of your project and I can take a look at it? austin@asmithdev.com

[2018-11-29 15:40] austinksmith commented on #56
Last note, I also see that you were manually setting maxThreads to navigator.hardwareConcurrency but the library does that for you automatically so you don't need to do that

[2018-12-03 14:31] InfSpell opened #57 "Promises error"
Thank you for the wonderful library.
For several days now I have been trying to try working with promises and getting an error ...
Help me please :)
__________________________________________________________
Windows 10
Node v10.14.0
Hamsters 5.1.1
_________________________________________________________
Code ->

const Worker = require('workerpool').Worker
const hamsters = require('hamsters.js')

[2018-12-03 19:35] austinksmith commented on #57
Do me a favor and try changing your init call to

[code]

I'm in the process of working out the recently discovered bugs in 5.11 and this is going to be fixed in 5.1.2 release, if you continue to have issues try downgrading to version 5.0.0

[2018-12-03 19:40] austinksmith commented on #57
Another note, it looks like you're using the WorkerPool library and Hamsters.js already includes a thread pool system so when it initializes and you call the library you'll be spawning N threads where N is equal to the logical cores on your system, or 4 if it can't detect that. Calling a function will pull from the pool and just use whatever thread(s) are available and not busy, I'd imagine that m

[2018-12-03 19:58] InfSpell commented on #57
Thanks for your reply and recommendations.
Before asking for help, I tried all the configurations - `hamsters.init`
`reactNative: false` - `node: true` ... and other :)
Tomorrow I'll try 5.0.0 and look forward to 5.1.2
Thanks again for the great library and it's not because I love hamsters ))))))

[2018-12-03 20:42] austinksmith commented on #57
ok and it’s not named Hamsters because I like hamsters either it’s a personal meaning only known to me plus it’s catchy lol

[2018-12-04 01:09] austinksmith commented on #55
Is version 5 working for you? I'm going to spend some time this week to try to address all the outstanding issues with the library and this should all be resolved in version 5.1.2

[2018-12-04 03:40] austinksmith commented on #57
So I started digging into the code and I dont think 5.0.0 is going to solve our problem either, from what I remember I was in the process of rewriting a lot of stuff and rushed out the last release trying to get it done sooner before my birthday and I see why promises wasn't working before and isn't working right now. Part of the optimizations I was doing was making sure more things were done at i

[2018-12-04 07:41] darkworks opened #58 "rtn data is pushed on different index than 0"
so i have replaced v4.2 with  v5.1.1 and i noticed few new things one is "data" key in  rtn return object earlier it was just 0 index i fixed by adding ['data'] in code to extract the thread data which is pushed it index 0 for single thread , however the another strange thing i noticed when we create multiple threads then rtn push  data on index which is same thread number , i wonder it will be go

[2018-12-04 12:03] austinksmith commented on #58
I'm working on fixing issues found in 5.1.1, I would probably stick to the 5.0.0 or lower versions until 5.1.2 is out, there seems to be several issues that need fixed in 5.1.1, definitely strange and I'm wondering it might have something to do with my webpack config and the optimize order plugin

[2018-12-04 14:54] darkworks commented on #58
ok for now i have handled the situation  for checking for valid index  like

[code]

so finger crossed will wait for next release to patch up the issues

[2018-12-04 19:32] InfSpell commented on #57
Thanks, I'll wait

[2018-12-04 19:35] austinksmith commented on #57
Do me a favor and give the current dev branch a try, I've fixed two issues already from 5.11 and i'm working through the rest right now.

[2018-12-04 20:50] InfSpell commented on #57
Getting an error
[code]
Error ->
[code]

[2018-12-04 20:55] InfSpell commented on #57
For the test I use the workerpool, webworker-threads on version 5.1.1 displays
[code]
and freezes....

[2018-12-04 22:02] austinksmith commented on #57
Hmm so the worker pool stuff I can't verify, but I am working on figuring out the issue where you're getting undefined right now. So basically it's trying to do some verification on what environment we're running in , reactNative, Node, Web, Legacy etc. and after compilation the habitat variable that contains these values is just an empty object at execution time, I think it's because internally t

[2018-12-04 22:03] austinksmith commented on #57
The reason there's so much broken stuff is 5.11 / 5.1.2 is a major change from previous versions with the goal at reducing runtime latency as low as possible, everything is pre-computed to the greatest extent possible and only your logic should be parsed leaving the only overhead being communication between threads.

[2018-12-05 16:37] austinksmith commented on #57
Hey do me a favor and give the dev branch version another try, I've worked through why the threads were not responding to messages and also resolved promise support. There are some other issues I'm working through right now but in my testing using Firefox and hamsters.web.js promises are working and it shouldn't time out

[2018-12-05 17:43] InfSpell commented on #57
Yes it works Chrome 71
[code]
Console ->
[code]

[2018-12-06 02:05] austinksmith commented on #57
Node should be working right now too btw, there's some other stuff i'm fixing up but it promises work everywhere right now

[2018-12-06 03:30] austinksmith commented on #55
@ingviso Can you do me a favor and give the current dev branch a try? Thanks

[2018-12-06 04:17] darkworks commented on #58
sure i will test it and will let u know

thanks

[2018-12-06 04:53] darkworks commented on #58
ya now its good not getting undefined messages , however persistence mode lib is still breaking when its set false ,  however am using persistence mode as now lib memory is issue fixed its releasing memory on v4.2 it was not releasing

[2018-12-07 11:51] austinksmith commented on #58
I've fixed persistence mode off and on and legacy support off and on modes, there are only 2 issues left I've identified but if you try the current dev branch again you should see that putting ``` persistence: false ``` will not break anymore. You can also force legacy mode by doing ``` legacy: true ```

[2018-12-10 02:00] austinksmith commented on #58
So you will want to update your copy of the dev branch, it's gone through some significant changes the last couple days and I've now resolved all the outstanding bugs that I'm aware of, though now I've run into some issues with my automated test configuration regardless I've tested a ton of different thread counts and max thread limits and persistence mode off and on, and legacy mode off and on an

[2018-12-10 02:01] #58 closed

[2018-12-10 04:08] darkworks commented on #58
that's good .

thanks

[2018-12-13 13:08] darkworks commented on #58
i tested your new build its giving again  undefined error

![image](https://user-images.githubusercontent.com/12841788/49940707-2163b480-ff02-11e8-80e3-ff996af00db8.png)

[2018-12-13 20:19] austinksmith commented on #58
v5.1.2 is live, I validated both modes in node.js and firefox/chrome/microsoft edge https://github.com/austinksmith/Hamsters.js/releases/tag/v5.1.2

[2018-12-13 20:21] austinksmith commented on #55
Give v5.1.2 a shot and report back https://github.com/austinksmith/Hamsters.js/releases/tag/v5.1.2 thanks

[2018-12-14 11:50] austinksmith commented on #58
V5.1.2 is live on the hamsters.io site benchmark examples and is working fine, try using the hamsters.web.js file it looks like you’re using the node one in the browser?

Node file is compiled differently when I build the final output and shouldn’t be used in the browser

[2018-12-14 12:44] darkworks commented on #58
ya i was using node one , switched to web.min  its again giving old error

`Uncaught TypeError: _hamstersWebMin2.default.init is not a function`

i will test on sample test branch then hopefully will mail you

thanks

[2018-12-14 14:41] austinksmith commented on #58
Download 5.1.2 latest release, or just use the copy that's running on the hamsters.io site...it should be exactly the same.

https://www.hamsters.io/javascripts/benchmark/hamsters.min.js

you can see how it runs in the benchmark logic it just says ```hamsters.init()``` without passing any startup options

[2018-12-14 15:42] ingviso commented on #55
Sorry for the late reply just saw your email. Do you want me to try with rn
workers ? I want be able to do it until on monday

Best
Ingvi

On Thu, 13 Dec 2018 at 20:21, asmithdev <notifications@github.com> wrote:

[2018-12-14 17:44] austinksmith commented on #55
I suggest using this https://github.com/joltup/react-native-threads

and then you can do something like...

[code]

then you should be able to write your logic doing something like..

[code]

[2018-12-14 17:46] austinksmith commented on #55
Really I need to update the wiki but I created a custom worker scaffold specifically around using react-native-threads and the library will try to use that scaffold within the react native environment.

You can view that file here..  https://github.com/austinksmith/Hamsters.js/blob/dev/src/core/common/rnHamstersWheel.js

You can see it imports self from react-native-threads so it expects you to us

[2018-12-17 06:08] darkworks commented on #58
i have mailed your hamster test of v5.1.2 with webpack build can you please review

thanks

[2018-12-17 12:06] infFenrir opened #59 "Windows 10 | Node.js - no output when using hamsters.js + webworker-threads package"
[code]
[code]
Console -> Hamsters.js v5.1.2 Info: Hamsters.js v5.1.2 initialized using up to 4 threads. @ 1545047704894
and freezes...
What am i doing wrong?

[2018-12-17 12:43] austinksmith commented on #59
It's working perfectly for me..

[code]

[2018-12-17 13:07] austinksmith commented on #59
![screenshot from 2018-12-17 08-04-52](https://user-images.githubusercontent.com/2227747/50089048-ba305380-01d2-11e9-80ed-4ee1f6a7503f.png)
![screenshot from 2018-12-17 08-06-36](https://user-images.githubusercontent.com/2227747/50089049-ba305380-01d2-11e9-8998-6f3360d81989.png)

[2018-12-17 13:31] austinksmith commented on #58
If you like the project and the support provided please consider donating to help fund the project, I've been working on this library for quite a while and doing what I can to fix bugs and help others get up and running and have yet to receive any donations. I'd like to be able to purchase some higher core count machines and validate the library works properly for those one day..

https://opencoll

[2018-12-17 17:34] InfSpell commented on #59
I do not know what is happening, they work separately but not together, and no error!...
Could you recommend another worker, or it's time to throw Windows?

[2018-12-17 19:49] austinksmith commented on #59
Weird, so I went ahead and setup node on windows 10 and did some testing. I was able to get it to return an output the first time I ran it, but now It just hangs like you said. No error produced and the problem doesn't appear when using Ubuntu or a unix shell environment.

This is a weird one and is unlikely to have anything to do with Hamsters.js itself as the logic works fine on the web and in n

[2018-12-17 20:18] austinksmith commented on #59
I have an idea on what might be going on but it's very odd that it would only happen on windows 10 and no where else

* Sending data and executing the work in a thread confirmed working
* Getting a response from a thread is confirmed working
* Running legacy mode is confirmed working
* Getting final output data is confirmed working

Where things break down is when calling ```resolve(output);``` ju

[2018-12-17 20:40] InfSpell commented on #59
Thank you very much for your answer and tests, I thought that I was going crazy )))

[2018-12-20 23:54] austinksmith commented on #59
I've referenced this issue here https://github.com/nodejs/node/issues/25156 maybe NodeJS team can provide a little insight.

[2018-12-21 12:42] InfSpell commented on #59
Thanks, I will definitely see.

[2019-02-01 18:34] fabiosantoscode opened #60 "The examples in the website don't have the source code of the example"
(sorry I'm not following the issue template, but the questions there didn't make sense to write down on this page)

I just started reading about the library and would like to see some example code. Now I'll dig through this repo instead.

I thought that the project examples should have the example's source code, or a link to it. It would make the website better!

Cheers!

[2019-02-04 12:08] jfuehner opened #61 "Cannot read property 'buffer' of undefined.""
I'm looking at upgrading from v4.2.1 to v5.1.2. From what I can see it should just be a drop in replacement in terms of syntax. My code runs fine with v4.2.1 but, when I run with v5.1.2 I receive an error stating **"Cannot read property 'buffer' of undefined."**

I tracked down the error to the **prepareTransferBuffers** method in data.js. The line that checks **`hamsterFood[key].buffer`** is fail

[2019-02-06 14:39] austinksmith commented on #61
Hmm ok, I started a new position lately and haven't been taking anytime to work on this in the last couple weeks. I have some plans to fix some issues already discovered in the latest release and I will be sure to include this as a fix as well. Do you have an example of the function you are trying to run?

[2019-02-06 14:42] austinksmith commented on #60
I am actually planning to do a rewrite to the website and update the wiki in the latest release version and will take your advice in mind and might provide some example benchmark logic on the page. However in the meantime you can always inspect the page and look at the example logic file https://www.hamsters.io/javascripts/benchmark/collatz_conjecture.js

[2019-02-06 15:22] austinksmith commented on #61
Also the new version, i'm taking a different approach to the parallelization part of the library so invoking loops using multiple threads should be significantly faster across the board as I'll be only splitting data and aggregating data when it's used instead of doing all the data splitting up front and aggregating results at the end..this should reduce overhead quite a bit and show some good spe

[2019-02-08 00:48] austinksmith commented on #61
I'm making good progress on the new release and will do what I can to eliminate the problem you are seeing, if you can provide an example function that would help quite a bit...early results are showing massive performance improvements with my new approach to handling the data like 1000+% faster

[2019-02-10 13:50] austinksmith commented on #59
Hey @InfSpell can you do me a favor and test out the dev branch copy? I made some tweaks to how the library works internally and I think I may have figured out what the issue was though I'm not 100% certain just yet.

[2019-02-11 18:25] InfSpell commented on #59
Hey @austinksmith. No, it does not work :(

Windows: 10
Node: v10.15.0
webworker-threads: 0.7.17

[code]
Console -> Hamsters.js v5.1.3 Info: Initialized using up to 4 threads. @ 1549908397515
and freezes...
And for some reason your website stopped working ...

[2019-02-11 21:47] austinksmith commented on #59
Weird, i fixed the website i'm gonna take another look at whats going on with this tonight and i'll report back tomorrow to see if it's fixed or not. It's frustrating because it works on linux and the web version works fine

[2019-03-03 09:52] mdrokz opened #62 "im not getting correct results from the rtn.data object in hamsterjs v5.1.3"
I am using the hamsterjs library in an webgame im developing and im trying to push my data into the rtn.data object. but the results/output only shows the param object. how do i get eh rtn.data output. here are some pics and code.
![image](https://user-images.githubusercontent.com/33598169/53693547-ffbeee80-3dc7-11e9-8e64-692cca7bd12a.png)

![image](https://user-images.githubusercontent.com/335981

[2019-03-05 01:27] austinksmith commented on #62
It looks like you are using the dev branch version which isn't ready for use yet, try to use the latest release version and report back

[2019-03-05 10:49] mdrokz commented on #62
where can i get the latest release version ?, sorry for late reply

[2019-03-05 12:57] austinksmith commented on #62
Either using the releases tab https://github.com/austinksmith/Hamsters.js/releases
or using npm https://www.npmjs.com/package/hamsters.js
or you can select v5.1.2 branch from the main page https://github.com/austinksmith/Hamsters.js/tree/v5.1.2

usually its best to avoid using the dev branch because its usually in a state of change, and sometimes I have to take breaks from developing and cannot gu

[2019-03-05 13:01] austinksmith commented on #62
In the future, i'm planning to also update the website so you can download it directly from there too

[2019-03-05 15:12] mdrokz commented on #62
ok i found the latest one and i am using it. but now i am getting an new error. it says Hamsters.js v5.1.2 Error: undefined @ 1551798350002. sorry i am new to hamsterjs and multithreading in general. here are the pics of error and code.

![image](https://user-images.githubusercontent.com/33598169/53815155-16f80a80-3f87-11e9-9cf7-641c1ba9a39b.png)

![image](https://user-images.githubusercontent.com

[2019-03-05 16:03] austinksmith commented on #62
the next release will have better error handling, mainly it looks like you are referencing things in an odd way. Like saying `params[0].d_props`, it's most likely throwing the undefined error since `params[0]` might be something internal to the API and therefore d_props won't be defined. Just use directly `params.d_props` instead of `params[0].d_props`

[2019-03-05 16:35] mdrokz commented on #62
okay i did what you said and dungeon_props is an object and dungeon is an class. but i removed them both and just used an example property like this.
![image](https://user-images.githubusercontent.com/33598169/53820910-c1295f80-3f92-11e9-89ad-69a0cc1acff5.png)

but its stil throwing me the same error

[2019-03-05 17:05] mdrokz commented on #62
Ah yess i finally got it to work. the problem was it was missing internal properties of hamster in the params object.
![image](https://user-images.githubusercontent.com/33598169/53822975-d0aaa780-3f96-11e9-878b-02f8eb333c84.png)

when i added these properties into the params object. the error disappeared. Thanks so much for helping me. i needed to get multi-threading to work in my game. thanks aga

[2019-03-05 18:03] austinksmith commented on #62
what do you mean "You cant use any other properties other than array"?

[2019-03-05 18:05] austinksmith commented on #62
dataType should be optional, as should aggregate and threads. They should all default to fail safe values when you pass something. You might want to downgrade to v4.20 and try that as there is an oustanding bug that might be causing you some trouble that wont be fixed until next release

[2019-03-05 18:06] austinksmith commented on #62
Maybe try passing an empty array in your params alongside your dungeon stuff without threads, dataType or aggregate?

[2019-03-05 18:15] mdrokz commented on #62
i did that didnt work.

ok i will try downgrading to v4.20 and report back.

i meant i could only pass an array. no objects or string and etc.

[2019-03-05 18:19] austinksmith commented on #62
Take a look at this https://www.hamsters.io/wiki#limitations

Also, a work around you might find is to turn your object into a string like JSON.stringify(object) and then within the thread, do JSON.parse(object)

[2019-03-05 18:23] mdrokz commented on #62
i tried using strings. but strings dont work as well. :(

[2019-03-05 19:01] mdrokz commented on #62
i think i can do it now with this.
![image](https://user-images.githubusercontent.com/33598169/53829870-2d15c300-3fa7-11e9-9005-8ad725d7517a.png)

[2019-03-05 20:42] austinksmith commented on #62
can you post exactly what dungeon_props looks like in raw form? This seems really weird that you are facing this much trouble? What is the error you are seeing just passing it as a string without all the extra stuff?

[2019-03-06 05:45] mdrokz commented on #62
it seems i was passing objects and string wrong. my bad, now it works i just needed to pass the objects and strings without putting brackets in the array.
![image](https://user-images.githubusercontent.com/33598169/53858497-78a88b00-4000-11e9-9cde-813836184620.png)

this is what dungeon_props looks like and now i have no error when i pass it like this.
![image](https://user-images.githubuserconten

[2019-03-06 13:10] austinksmith commented on #62
There are two options for passing functions, you can directly pass them in the params object, or you can use the importScripts option on initialization. Just remember if you pass it in the params object, it'll be serialized and turned into a string along the way so its usually best just to do that up front to avoid any conflicts and then parse it back using eval or new function, if you use the imp

[2019-03-06 13:11] austinksmith commented on #62
https://github.com/austinksmith/Hamsters.js/releases/tag/v5.1.1

[2019-03-06 15:04] austinksmith commented on #60
I'm going to close this ticket, I'll mark it resolved once the new website version is updated.

[2019-03-06 15:04] #60 closed

[2019-03-06 15:10] mdrokz commented on #62
got it thanks. i will try this and see

[2019-03-08 10:10] #62 closed

[2019-05-30 16:56] shanekoss opened #63 "Pointers for use with ReactJS"
Hey hey - very curious to try this with ReactJS - is that possible?

I've tried this:

var Worker = require('webworker-threads').Worker;
var hamsters = require('hamsters.js');

hamsters.init({
 Worker: Worker
});

but webworker-threads doesn't seem to like webpack:

TypeError: exists is not a function

  166 |   dir = process.cwd();
  167 | }
  168 |

      | ^  170 |   // Found the 'package.json'

[2019-06-26 05:40] Genhain opened #64 "react-native-threads not working."
I supply the Worker and Shared Worker to Hamster and get the following `jsPath.endsWith is not a function` i output the jsPath object and it seems to be a `workerScaffold` instead of the expected string.

* ***What version of the library are you using?***

5.1.2

* ***What operating system are you seeing the issue on?***

macOS Mojave 10.14.5

* ***Which platform (and or) browser are you seeing th

[2019-09-05 12:47] drakonkat opened #65 "react native workers"
Hi, in the documentation hamster say that support react-native multithread.
When i open the documentation i see this:
![image](https://user-images.githubusercontent.com/17176640/64342707-6200e200-cfeb-11e9-95fc-83eab6dd1acb.png)

"there are many of these on npm and github" can you link it?
I only find one, updated last time 3 yars ago.

There is some pratical example of how to implement hamster wi

[2019-09-12 04:54] Bijiabo commented on #65
I am finding multithread worker library for react native too.
There is no library still update and useable.

Sad... :(

[2019-09-18 16:46] Bijiabo commented on #65
@drakonkat maybe you can have a look at Node-mobile, I have build successful today.
https://code.janeasystems.com/nodejs-mobile

[2019-10-18 14:09] saadkhan6670 opened #66 "ERROR: while initiating hamsters.js [React Native]"
### New Issue Report
Hamsters : v5.1.2
"react": "16.8.6",
"react-native": "0.60.5"
"react-native-threads": "0.0.17"

Android

i am trying to implement your library in my application. as said in the wiki i have cloned the latest version of library i.e v5.1.2 and placed its SRC folder in my project and referenced it in my component but getting these errors.
i also even tried installing from Npm but

[2019-11-09 14:23] austinksmith commented on #65
@drakonkat @Bijiabo I apologize for the delayed response on this issue, unfortunately big companies in the software community have engaged in a conspiracy against my constitutional rights and attempts to steal my intellectual property and even blacklist me from employment and have turned my life completely upside down trying to defend myself from these actions. I am working to resolve this situati

[2019-11-09 14:24] austinksmith commented on #66
@saadkhan6670  I apologize for the delayed response on this issue, unfortunately big companies in the software community have engaged in a conspiracy against my constitutional rights and attempts to steal my intellectual property and even blacklist me from employment and have turned my life completely upside down trying to defend myself from these actions. I am working to resolve this situation an

[2019-11-09 14:28] austinksmith commented on #64
@Genhain   I apologize for the delayed response on this issue, unfortunately big companies in the software community have engaged in a conspiracy against my constitutional rights and attempts to steal my intellectual property and even blacklist me from employment and have turned my life completely upside down trying to defend myself from these actions. I am working to resolve this situation and ho

[2019-11-09 14:45] austinksmith opened #67 "NOTICE: DEVELOPMENT ON HOLD"
Currently Hamsters.js is currently on hold while I seek new employment opportunities, I will hopefully be able to return to the library in the near future. In the meantime I am working on a new platform that will connect with the Hamsters.js library that will provide many new and awesome features and services that I think many people will be very happy to use. Thanks for using the library and than

[2019-11-09 15:16] austinksmith commented on #63
https://github.com/austinksmith/Hamsters.js/issues/67

[2019-11-09 15:16] austinksmith commented on #61
https://github.com/austinksmith/Hamsters.js/issues/67

[2019-11-09 15:16] austinksmith commented on #59
https://github.com/austinksmith/Hamsters.js/issues/67

[2019-11-09 15:17] austinksmith commented on #55
https://github.com/austinksmith/Hamsters.js/issues/67

[2019-12-04 06:12] darkworks commented on #66
use old version 4.1.2  its working ok v5 is broken  am still using v4.1.2

[2019-12-08 15:31] austinksmith commented on #66
I plan to release some updates in the near future that will hopefully address all outstanding bugs, however as mentioned in #67 I am in need of new work opportunities and need money at the moment. I have already started the process of building a new website that will actually communicate with the library in the near future and hopefully will provide several things. Such as improved support, better

[2019-12-25 13:46] twoco opened #68 "Your country is blocked from accessing this content."
I can't access to the https://www.hamsters.io/ website. It just displays a text `Your country is blocked from accessing this content.`. I live in germany. Because article 13? But why?

![image](https://user-images.githubusercontent.com/53160891/71446589-46018780-2725-11ea-83fa-c40aa47f2cc0.png)

[2019-12-25 15:48] austinksmith commented on #68
Happy Holidays @twoco , I apologize for the inconvenience. Truth be told there are a multitude of reasons that I have currently restricted the website to the US and US territories, primarily due to on going organized harassment and theft of intellectual property. I am in talks with some intellectual property lawyers and working on doing what I can to protect the library from theft and it was sugge

[2019-12-25 15:48] #68 closed

[2020-08-23 19:22] #67 closed

[2020-08-25 22:54] austinksmith commented on #59
Hey there @infFenrir I know it's been a long time since you first created this issue ticket. However I have released a new Hamsters version that should resolve your issues and also adds support for Node.js native worker implementation. Please take a look at https://github.com/austinksmith/Hamsters.js/releases/tag/v5.1.3 and also read the updated wiki @ https://www.hamsters.io/wiki

Thank you for y

[2020-08-25 22:56] austinksmith commented on #61
Hey @jfuehner I know it's been a long time since I updated this bug ticket, however I did just release a new Hamsters version today that should hopefully resolve your issues. Please take a look at https://github.com/austinksmith/Hamsters.js/releases/tag/v5.1.3 and let me know if it resolves your problem. thanks!

[2020-08-25 22:57] austinksmith commented on #65
Please give the latest version of Hamsters.js a try https://github.com/austinksmith/Hamsters.js/releases/tag/v5.1.3

[2020-08-25 22:57] austinksmith commented on #66
Please give the latest version of Hamsters.js a try https://github.com/austinksmith/Hamsters.js/releases/tag/v5.1.3

[2020-08-25 22:58] austinksmith commented on #63
Please give the latest version of Hamsters.js a try https://github.com/austinksmith/Hamsters.js/releases/tag/v5.1.3

[2020-08-25 22:58] austinksmith commented on #55
Please give the latest version of Hamsters.js a try https://github.com/austinksmith/Hamsters.js/releases/tag/v5.1.3

[2020-09-15 16:08] fabioh8010 opened #72 "http://www.hamsters.io/ offline"
When I try to access http://www.hamsters.io/, it give the following message:

![image](https://user-images.githubusercontent.com/20051562/93235797-ef861e80-f775-11ea-8543-4bf5cbd49d60.png)

Is it intentional?

[2020-09-16 02:22] austinksmith commented on #72
@fabioh8010 Thanks for the bug report, yes this is intentional for the time being. I am working on updates for the site in my off time from work and the new changes are significant enough that I'd prefer no one be using the site and making new user accounts until those changes are rolled out.

[2020-10-08 21:57] austinksmith commented on #72
@fabioh8010 The website is back online, there will be more fixes and changes to it as time goes on so you can create an account, login, and update your profile etc. for the time being but the remaining features aren't active at the moment

[2020-10-08 21:57] #72 closed

[2021-01-28 03:20] daoxian opened #73 "Anyone use hamesters.js successfully in Chrome Browser ?"
I've met this problem with v5.1.3:
![image](https://user-images.githubusercontent.com/34263430/106085172-a948bf00-615a-11eb-9f31-c1d8a330ebb0.png)
codes here:

Any suggestions or tips are appreciated!

[2021-01-28 22:16] austinksmith commented on #73
It appears you have not read any of the documentation, please visit https://www.hamsters.io/wiki/basics to understand how the library works. It doesn't appear that you are even telling the library to run a function in your usage of the library, what is your expected result?

[2021-01-31 06:27] daoxian commented on #73
OMG, the docs are so complicated, and I need register an account first...  The codes should be self-explained, and I don't think I should pick some lib that spends lots of my time looking at the docs.  I'll choose some other simpler libs and bye...

[2021-01-31 15:39] austinksmith commented on #73
The documentation should be very easy for you to follow, this library is quite complex and deals with a complex subject matter which is parallel processing. It requires you to read the documentation to understand how to make use of it, also the code has jsdoc standard comments explaining what each method does and the inputs it accepts.

Regarding account creation, this is true because I have dealt

[2021-01-31 15:57] #73 closed

[2021-05-17 12:27] hzjux001 opened #74 "Uncaught TypeError: hamsters.run is not a function"
windows 10
edge or chrome
hamsters 5.1.3

<script type="text/javascript" src="resources/hamsters/build/hamsters.web.min.js"></script>

                    console.log(hamsters);//this line is run successed

                    hamsters.run(allstore, function() {
                        Ext.each(allstore,function (row){
                            me.showfilepreviewwindow(row["url"],row["name"])

[2021-05-17 12:32] hzjux001 commented on #74
hamsters 5.1.3

[2021-05-17 13:26] austinksmith commented on #74
In the future please follow the issue ticket format, you have not initialized the library, please read the getting started section of the wiki. You must first initialize the library with hamsters.init() before you can use hamsters.run

[2021-05-17 14:04] hzjux001 commented on #74
The problem has been solved,Thank you.

[2021-05-17 14:05] #74 closed

[2021-05-29 21:26] austinksmith commented on #74
@hzjux001 Ive updated the wiki documentation to highlight this better https://hamsters.io/wiki/initializing

[2021-06-20 23:04] #61 closed

[2021-07-12 00:48] austinksmith commented on #59
I am marking this as resolved, I've just published v5.3.1 and tested it on Node.js both legacy mode and using Node.js native worker threads and all is working as expected https://github.com/austinksmith/Hamsters.js/releases/tag/v5.3.1

[2021-07-12 00:48] #59 closed

[2021-08-04 15:26] Latz opened #75 "rtn undefined"
Version: 5.3.2
Operating system: Windows 10 / Ubuntu 21.04
Platform: node v16.6.1

Example code:
[code]
Error: (I used the build version for disabling the logger):
[code]

Version 5.2.1 is does not contain this error.

[2021-08-04 15:43] austinksmith commented on #75
I need to see how you are initializing the library

[2021-08-04 18:39] Latz commented on #75
Nothing fancy:

[code]

[2021-08-04 19:38] austinksmith commented on #75
@Latz please read the documentation on how to make use of threads in node.js, this is a bug in the legacy mode for node and I will make sure it's fixed in the next release, thank you for reporting, but you should be using the non legacy mode by following the wiki

[2021-08-05 21:26] austinksmith commented on #75
I've just released v5.3.3 which should resolve your problem in legacy mode, marking this as resolved.

https://github.com/austinksmith/Hamsters.js/releases/tag/v5.3.3

[2021-08-05 21:26] #75 closed

[2021-08-05 21:27] austinksmith commented on #66
I've just finished fixing react native support in https://github.com/austinksmith/Hamsters.js/releases/tag/v5.3.3 and am releasing a version of reactNativeHamsters which will provide real threading support, marking this as resolved.

[2021-08-05 21:27] #66 closed

[2021-08-05 21:28] austinksmith commented on #65
I've just finished fixing react native support in https://github.com/austinksmith/Hamsters.js/releases/tag/v5.3.3 and am releasing a version of https://github.com/austinksmith/reactNativeHamsters which will provide real threading support, marking this as resolved.

[2021-08-05 21:28] #65 closed

[2021-08-05 21:28] austinksmith commented on #64
I've just finished fixing react native support in https://github.com/austinksmith/Hamsters.js/releases/tag/v5.3.3 and am releasing a version of https://github.com/austinksmith/reactNativeHamsters which will provide real threading support, marking this as resolved.

[2021-08-05 21:28] #64 closed

[2021-08-05 21:29] austinksmith commented on #63
I've just finished fixing react native support in https://github.com/austinksmith/Hamsters.js/releases/tag/v5.3.3 and am releasing a version of https://github.com/austinksmith/reactNativeHamsters which will provide real threading support, marking this as resolved.

Please follow the updated wiki to get this working

[2021-08-05 21:29] #63 closed

[2021-08-05 21:29] austinksmith commented on #55
I've just finished fixing react native support in https://github.com/austinksmith/Hamsters.js/releases/tag/v5.3.3 and am releasing a version of https://github.com/austinksmith/reactNativeHamsters which will provide real threading support, marking this as resolved.

Please follow the updated wiki to get this working

[2021-08-05 21:29] #55 closed

[2021-09-26 12:56] austinksmith commented on #7
@hy9be I know this is an old ticket however, I am wondering if you could try the latest version of the library today and let me know your thoughts on the performance now? Try using version 5.3.9 or version 5.4.0, 5.3.9 will be a little faster but will consume more memory during operation

[2021-09-26 12:57] austinksmith commented on #11
@acterhd I know this is an old ticket however, I am wondering if you could try the latest version of the library today and let me know your thoughts on the performance now? Try using version 5.3.9 or version 5.4.0, 5.3.9 will be a little faster but will consume more memory during operation

[2021-10-06 15:41] GrabbenD opened #76 "react-native-hamsters/example - undefined is not an object (evaluating 'message.data.data')"
# Overview
Example provided in https://github.com/austinksmith/react-native-hamsters/tree/master/examples/HamstersJS doesn't work due to:
[code]

This particular example is using master branch in both react-native-hamsters and hamsters.js

This was tested on a Samsung Galaxy S20+ / Android 11

# Workaround?
The error can be partially worked around with:

[code]

[code]

However this leads to anoth

[2021-10-09 13:49] austinksmith commented on #76
@xRiot I've just released version 5.4.1 which resolves this issue, please give it a try and make sure to read the wiki documentation https://hamsters.io/wiki/react-native

[2021-10-09 21:15] #76 closed, assigned to nobody